= simple_form_for(@bus_list, url: url_for(action: @bus_list.new_record? ? "create" : "update", controller: "bus_lists")) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :capacity
    = f.input :needs_bus_captain
    = f.input :notes, input_html: { rows: 10 }
    %p
      %small
        %em Notes support Markdown and HTML.

  .form-actions
    = f.button :submit
