%section.section.manage
  %h1.section-title= title "Bus List"
  %p#notice= notice

  %p
    %b Name:
    = @bus_list.name
  %p
    %b Capacity:
    = @bus_list.capacity
  %p
    %b Needs bus captain:
    = @bus_list.needs_bus_captain ? "Yes" : "No"
  %p
    %b Schools:
    %ul
      - @bus_list.schools.each do |school|
        %li= link_to(school.name, manage_school_path(school))

  = render partial: 'bus_list_info', locals: { bus_list: @bus_list }

  %p
    %strong Passengers:
    = "(#{@bus_list.passengers.count} total, #{@bus_list.checked_in_passengers.count} checked in)"
  %table.table
    %thead
      %tr
        %th
        %th First Name
        %th Last Name
        %th Email
        %th Phone Number
        %th School
        %th Checked in?
        - unless current_user.admin_limited_access
          %th Actions
    %tbody
      - @bus_list.passengers.each do |p|
        %tr
          %td= link_to '<i class="fa fa-search"></i>'.html_safe, manage_questionnaire_path(p)
          %td= p.first_name
          %td= p.last_name
          %td= p.email
          %td= phone_link_to p.phone
          %td= link_to p.school.name, manage_school_path(p.school)
          %td= p.checked_in? ? '<span class="acc-status-accepted">Yes</span>'.html_safe : 'No'
          - unless current_user.admin_limited_access
            %td
              - if p.is_bus_captain?
                = link_to "Remove Bus Captain", toggle_bus_captain_manage_bus_list_path(@bus_list, questionnaire_id: p.id, bus_captain: '0'), method: 'post'
              - else
                = link_to "Make Bus Captain", toggle_bus_captain_manage_bus_list_path(@bus_list, questionnaire_id: p.id, bus_captain: '1'), method: 'post', data: { confirm: 'Are you sure? This will send a confirmation email to the bus captain.' }
  - if @bus_list.needs_bus_captain
    %p
      %strong Possible Bus Captains:
    %table.table
      %thead
        %tr
          %th
          %th First Name
          %th Last Name
          %th Email
          %th Phone Number
          %th School
          - unless current_user.admin_limited_access
            %th Actions
      %tbody
        - @bus_list.passengers.select { |q| q.bus_captain_interest }.each do |p|
          %tr
            %td= link_to '<i class="fa fa-search"></i>'.html_safe, manage_questionnaire_path(p)
            %td= p.first_name
            %td= p.last_name
            %td= p.email
            %td= phone_link_to p.phone
            %td= link_to p.school.name, manage_school_path(p.school)
            - unless current_user.admin_limited_access
              %td
                - if p.is_bus_captain?
                  = link_to "Remove Bus Captain", toggle_bus_captain_manage_bus_list_path(@bus_list, questionnaire_id: p.id, bus_captain: '0'), method: 'post'
                - else
                  = link_to "Make Bus Captain", toggle_bus_captain_manage_bus_list_path(@bus_list, questionnaire_id: p.id, bus_captain: '1'), method: 'post', data: { confirm: 'Are you sure? This will send a confirmation email to the bus captain.' }

  = render partial: 'bus_list_stats', locals: { bus_list: @bus_list }

  %hr

  - unless current_user.admin_limited_access?
    = link_to 'Edit', edit_manage_bus_list_path(@bus_list)
    \|
    = link_to 'Send Email Update', send_update_email_manage_bus_list_path(@bus_list), method: :patch, data: { confirm: "Are you sure? All passengers for \"#{@bus_list.name}\" will be emailed the current bus notes." }
    \|
  = link_to 'Back', manage_bus_lists_path
