%section.section{ style: "padding-left: 20px; padding-right: 20px" }
  %h1.section-title= title "School"
  %p#notice= notice

  %p
    %b Name:
    = @school.name
  %p
    %b Address:
    = @school.address || "(not provided)"
  %p
    %b City:
    = @school.city || "(not provided)"
  %p
    %b State:
    = @school.state || "(not provided)"
  %p
    %b Bus List:
    = @school.bus_list ? link_to(@school.bus_list.name, manage_bus_list_path(@school.bus_list)) : '(not assigned)'

  %hr

  - unless current_user.admin_limited_access
    = link_to 'Edit', edit_manage_school_path(@school)
    \|
  - unless current_user.admin_limited_access
    = link_to 'Merge', merge_manage_school_path(@school)
    \|
  = link_to 'Back', manage_schools_path

  %hr

  %p
    %strong Questionnaires:
  %table.table
    %thead
      %tr
        %th
        %th First Name
        %th Last Name
        %th Email
        %th Status
        %th Checked In?
    %tbody
      - @school.questionnaires.order(:acc_status).each do |q|
        %tr
          %td= link_to '<i class="fa fa-search"></i>'.html_safe, manage_questionnaire_path(q)
          %td= q.first_name
          %td= q.last_name
          %td= q.email
          %td= "<span class=\"acc-status-#{q.acc_status}\">#{Questionnaire::POSSIBLE_ACC_STATUS[q.acc_status]}</span>".html_safe
          %td= q.checked_in? ? "Yes" : "No"
