%div{class:'form-container'}
  = simple_form_for @questionnaire, url: url_for(action: @questionnaire.new_record? ? "create" : "update", controller: "questionnaires"), html: { "data-validate" => "form" } do |f|

    - if f.error_notification.present?
      #disclaimer
        = f.error_notification

    .form-inputs
      = f.input :first_name, placeholder: "Joe", input_html: { "data-validate" => "presence" }, label: "First Name"
      = f.input :last_name, placeholder: "Smith", input_html: { "data-validate" => "presence" }, label: "Last Name"
      = f.input :email, placeholder: "joe@example.com", input_html: { "data-validate" => "presence", value: @questionnaire.user.try(:email) }, required: true, input_html: { "data-validate" => "presence email" }
      = f.input :birthday, start_year: Date.today.year - 18, end_year: Date.today.year - 90, order: [:month, :day, :year], input_html: { "data-validate" => "presence" }

      = f.input :school_id, as: :school_selection, placeholder: "My University", input_html: { "data-validate" => "presence" }
      = f.input :year, as: :select, collection: Questionnaire::POSSIBLE_YEARS.invert, include_blank: "(select one...)", input_html: { "data-validate" => "presence" }

      = f.input :international, as: :formatted_boolean, label: "International?"

      = f.input :city, placeholder: "Anytown", input_html: { "data-validate" => "presence" }

      - intl_state = !@questionnaire.new_record? && @questionnaire.international
      = f.input :state, as: :select, collection: Questionnaire::POSSIBLE_STATES, include_blank: "(select one...)", input_html: { "data-validate" => "presence", disabled: intl_state }, wrapper_html: { style: intl_state ? "display: none" : "" }
      = f.input :state, input_html: { "data-validate" => "presence", disabled: !intl_state }, wrapper_html: { style: intl_state ? "" : "display: none" }, label: "State/Province"
      = f.input :experience, as: :select, collection: Questionnaire::POSSIBLE_EXPERIENCES.invert, include_blank: "(select one...)", label: "Experience", input_html: { "data-validate" => "presence" }
      = f.input :interest, as: :select, collection: Questionnaire::POSSIBLE_INTERESTS, include_blank: "(select one...)", input_html: { "data-validate" => "presence" }
      = f.input :shirt_size, as: :select, collection: Questionnaire::POSSIBLE_SHIRT_SIZES.invert, include_blank: "(select one...)", input_html: { "data-validate" => "presence" }
      = f.input :dietary_medical_notes, placeholder: "Allergies, medical assistance, etc. (optional)", label: "Health Restrictions"

      = f.input :resume, as: :deletable_attachment, hint: "Must be < 2MB", input_html: { "data-validate" => "file-max-size file-content-type", "data-validate-file-max-size" => "2097152", "data-validate-file-content-type" => "application/pdf" }, label: "Resume (PDF)"

      = f.input :portfolio_url, label: "Portfolio Link", placeholder:"http://mywebsite.com"
      = f.input :vcs_url, label: "GitHub/BitBucket", placeholder:"https://github.com/coderit"

      = f.input :agreement_accepted, as: :formatted_boolean, label: "I accept the BrickHack Agreement", input_html: { "data-validate" => "presence" }

    %div{class:'center'}
      = f.button :submit, value: ( @questionnaire.new_record? ? 'Create' : 'Save' )
