%section.section.manage
  %h1.section-title= title "Listing Questionnaires"

  - if ENV['INVITE_TO_SLACK_WHEN_ACCEPTED']
    %p
      %small
        %span.fa.fa-warning.icon-space-r
        Slack invites will be sent upon acceptance.

  - if flash[:notice]
    #disclaimer= flash[:notice]

  %table.questionnaires.datatable.row-border.stripe.hover.order-column{ "data-source" => datatable_manage_questionnaires_path(format: :json) }
    %thead
      %tr
        %th
          - unless current_user.admin_limited_access?
            %input{ type: "checkbox", name: "select_allc", value: "1", data: { bulk_row_select: "" } }
        %th
        %th ID
        %th First name
        %th Last name
        %th Email
        %th Status
        %th Checked In
        %th School
    %tbody

  - unless current_user.admin_limited_access?
    %br
    = btn_link_to 'New Questionnaire', new_manage_questionnaire_path

    %h4 Bulk Action:
    = simple_form_for Questionnaire.new, url: bulk_apply_manage_questionnaires_path, html: { data: { bulk_row_edit: true } } do |f|
      = f.input :acc_status, as: :select, collection: Questionnaire::POSSIBLE_ACC_STATUS.invert, include_blank: false, label: "Acceptance Status:", input_html: { data: { bulk_row_edit: true } }
      = f.button :submit, value: "Update Status", data: { bulk_row_edit: true }
