%section.section.manage
  %h1.section-title Listing Questionnaires

  %table.datatable.row-border.stripe.hover.compact.order-column
    %thead
      %tr
        %th First name
        %th Last name
        %th Email
        %th Int'l
        %th State
        %th Year
        %th Experience
        %th Interest
        %th School
        %th
        %th
    %tbody
      - @questionnaires.each do |questionnaire|
        %tr
          %td= questionnaire.first_name
          %td= questionnaire.last_name
          %td= questionnaire.email
          %td= questionnaire.international ? 'Yes' : 'No'
          %td= questionnaire.state
          %td= questionnaire.year
          %td= questionnaire.experience
          %td= questionnaire.interest
          %td= questionnaire.school_id
          %td= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_manage_questionnaire_path(questionnaire)
          %td= link_to '<i class="fa fa-trash"></i>'.html_safe, manage_questionnaire_path(questionnaire), :method => :delete, :data => { :confirm => 'Are you sure? This action is currently irreversible.' }

  %br

  = btn_link_to 'New Questionnaire', new_manage_questionnaire_path
