%section.section.manage
  - if notice
    #disclaimer= notice

  .container.container-half
    = render partial: 'questionnaire_summary'

    %p
      %b Accepted Agreement:
      = @questionnaire.agreement_accepted ? "Yes" : "<span style='color: red'><strong>NO</strong></span>".html_safe

  .container.container-half
    - unless current_user.admin_limited_access
      = link_to 'Edit', edit_manage_questionnaire_path(@questionnaire)
      \|
      = link_to 'Convert to Admin', convert_to_admin_manage_questionnaire_path(@questionnaire), method: :patch, data: { confirm: "Are you sure? The questionnaire for \"#{@questionnaire.full_name}\" will be permanently erased. This action is irreversible." }
      \|
    = link_to 'Invite to Slack', invite_to_slack_manage_questionnaire_path(@questionnaire), method: :patch
    \|
    = link_to 'Back', manage_questionnaires_path
    %hr

    %p
      %b Acceptance Status:
      %span{class: "acc-status-#{@questionnaire.acc_status}"}
        = Questionnaire::POSSIBLE_ACC_STATUS[@questionnaire.acc_status]
    %p
      %b Last Updated By:
      = @questionnaire.acc_status_author_id ? @questionnaire.acc_status_author.email : "(no author)"
    %p
      %b Changed On:
      = @questionnaire.acc_status_date ? @questionnaire.acc_status_date : "(no date)"
    %p
      %b Checked In At:
      = @questionnaire.checked_in_at ? @questionnaire.checked_in_at : "(not checked in)"
    %p
      %b Check-in Updated By:
      = @questionnaire.checked_in_by_id ? @questionnaire.checked_in_by.email : "(never checked in)"

    %hr
    = simple_form_for @questionnaire, url: url_for(action: "check_in", controller: "questionnaires", method: :put), html: { "data-validate" => "form" } do |f|
      - if !@questionnaire.checked_in?
        = f.input :agreement_accepted, as: :formatted_boolean, input_html: { "data-validate" => "presence" }
        = f.input :can_share_info, as: :formatted_boolean
        = f.input :phone, input_html: { "data-validate" => "presence" }
        = f.input :email, placeholder: "joe@example.com", input_html: { "data-validate" => "presence email", value: @questionnaire.user.try(:email) }, required: true
      = hidden_field_tag("check_in", !@questionnaire.checked_in?)
      = f.button :submit, value: ( @questionnaire.checked_in? ? "Remove check-in" : "Check In" )
      - if !@questionnaire.checked_in?
        %p
          %small
            %i An invite to Slack will be sent upon check-in, if they haven't gotten one already.

    - unless current_user.admin_limited_access?
      %hr
      = simple_form_for @questionnaire, url: url_for(action: "update_acc_status", controller: "questionnaires") do |f|
        = f.input :acc_status, as: :select, collection: Questionnaire::POSSIBLE_ACC_STATUS.invert, include_blank: false, label: "Acceptance Status:"
        = f.button :submit, value: "Update Status"

    %hr
    %h4 Recent Email Events (past 10 days)
    .email-events{ data: { url: message_events_manage_questionnaire_path(@questionnaire) } }
      %em Email events not available at this time.
