%section.section.manage
  %h1.section-title BrickHack Dashboard

  .form-container
    %p#notice= notice

    %p
      %b First name:
      = @questionnaire.first_name
    %p
      %b Last name:
      = @questionnaire.last_name
    %p
      %b Birthday:
      = @questionnaire.birthday_formatted
    %p
      %b School:
      = @questionnaire.school.full_name
    %p
      %b City:
      = @questionnaire.city
    %p
      %b State:
      = @questionnaire.state
    %p
      %b Experience:
      = Questionnaire::POSSIBLE_EXPERIENCES[@questionnaire.experience]
    %p
      %b Year:
      = Questionnaire::POSSIBLE_YEARS[@questionnaire.year]
    %p
      %b Interest:
      = @questionnaire.interest
    %p
      %b Shirt size:
      = Questionnaire::POSSIBLE_SHIRT_SIZES[@questionnaire.shirt_size]
    %p
      %b Dietary & medical notes:
      = @questionnaire.dietary_medical_notes || "None"
    %p
      %b Resume:
      = @questionnaire.resume? ? link_to("Download &raquo;".html_safe, @questionnaire.resume.url) : 'Not provided'
    %p
      %b Portfolio Link:
      = @questionnaire.portfolio_url? ? link_to(@questionnaire.portfolio_url, @questionnaire.portfolio_url, target: '_blank') : 'Not provided'
    %p
      %b GitHub/BitBucket Link:
      = @questionnaire.vcs_url? ? link_to(@questionnaire.vcs_url, @questionnaire.vcs_url, target: '_blank') : 'Not provided'

    %p
      %b Accepted Agreement:
      = @questionnaire.agreement_accepted ? "Yes" : "<span style='color: red'><strong>NO</strong></span>".html_safe

    = link_to 'Edit', edit_manage_questionnaire_path(@questionnaire)
    \|
    = link_to 'Back', manage_questionnaires_path
