.form-container
  = simple_form_for @user, url: url_for(action: @user.new_record? ? "create" : "update", controller: "admins"), html: { "data-validate" => "form" } do |f|

    - if @user.new_record?
      %p
        If a user already exists, first delete the questionnaire in the
        = link_to "questionnaires manager.", manage_questionnaires_path
    - if f.error_notification.present?
      #disclaimer
        = f.error_notification

    .form-inputs
      = f.input :email, placeholder: "joe@example.com", input_html: { "data-validate" => "presence" }, required: true
      = f.input :admin_limited_access, as: :formatted_boolean, label: "Limited Access"
      %p Limited access prevents the admin from adding, modifying, or deleting any records. Modifications through the check-in process are allowed.

    .center
      = f.button :submit, value: ( @user.new_record? ? 'Create' : 'Save' )
