%section.section.manage
  %h1.section-title= title "Editing Admin"

  = render 'form'

  .form-container
    .center
      = link_to 'Back', manage_admins_path
      \|
      = link_to 'Delete', manage_admin_path(@user), method: :delete, data: { confirm: 'Are you sure? This action is irreversible.' }
      \|
      = link_to 'Show', manage_admin_path(@user)
