= simple_form_for @participant do |f|

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email

    = f.input :school_id, as: :school_selection
    = f.input :year, as: :select, collection: Participant::POSSIBLE_YEARS, include_blank: "(select one...)"

    = f.input :city
    = f.input :state

    = f.input :experience, as: :select, collection: Participant::POSSIBLE_EXPERIENCES, include_blank: "(select one...)", label: "Hackaton Experience"

    = f.input :interest, as: :select, collection: Participant::POSSIBLE_INTERESTS.map { |interest| [interest.titleize, interest] }, include_blank: "(select one...)"

  = f.button :submit
