%section{class:'section'}
  %div{class:'container'}
    %h1{class:'section-title'} Change your password
    %div{class:'form-container'}
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification
        = f.input :reset_password_token, as: :hidden
        = f.full_error :reset_password_token
        .form-inputs
          = f.input :password, label: "New Password", required: true, autofocus: true
          = f.input :password_confirmation, label: "Confirm", required: true
        .form-actions
          = f.button :submit, "Change My Password"
      = render "devise/shared/links"
