%p#notice= notice

%p Thanks for applying! Acceptance notifications will be sent out in March.
%p Below is a copy of your application.
%p
  %b First name:
  = @registration.first_name
%p
  %b Last name:
  = @registration.last_name
%p
  %b Email:
  = @registration.email
%p
  %b Birthday:
  = @registration.birthday_formatted
%p
  %b School:
  = @registration.school.full_name
%p
  %b City:
  = @registration.city
%p
  %b State:
  = @registration.state
%p
  %b Experience:
  = Registration::POSSIBLE_EXPERIENCES[@registration.experience]
%p
  %b Year:
  = Registration::POSSIBLE_YEARS[@registration.year]
%p
  %b Interest:
  = @registration.interest
%p
  %b Shirt size:
  = @registration.shirt_size
%p
  %b Dietary & medical notes:
  = @registration.dietary_medical_notes || "None"
%p
  %b Resume:
  = @registration.resume? ? link_to("Download &raquo;".html_safe, @registration.resume.url) : 'Not provided'
%p
  %b Portfolio Link:
  = @registration.portfolio_url? ? link_to(@registration.portfolio_url, @registration.portfolio_url, target: '_blank') : 'Not provided'
%p
  %b GitHub/BitBucket Link:
  = @registration.vcs_url? ? link_to(@registration.vcs_url, @registration.vcs_url, target: '_blank') : 'Not provided'

%p
  Need to make changes?
  = link_to 'Edit &raquo;'.html_safe, edit_registration_path(@registration)
