%section.section.manage
  %h1.section-title BrickHack Dashboard
  .container.container-half
    %h3 Today's Stats
    - today = Time.now.beginning_of_day
    %ul
      %li
        %strong New Applications:
        = total_count = Questionnaire.where("created_at >= :today", today: today).count
      %li
        %strong RIT Applications:
        - rit_count = Questionnaire.where("school_id = \"2304\" AND created_at >= :today OR school_id = \"5535\" AND created_at >= :today", today: today).count
        = rit_count
        = "(#{100 * rit_count/total_count}%)" unless total_count == 0
      %li
        %strong Resumes:
        = resume_count = Questionnaire.where("resume_file_name != '' AND created_at >= :today", today: today).count
        = "(#{100 * resume_count/total_count}%)" unless total_count == 0
    %h3 Total Stats
    %ul
      %li
        %strong Applications:
        = total_count = Questionnaire.count
      %li
        %strong RIT Applications:
        - rit_count = Questionnaire.where("school_id = \"2304\" OR school_id = \"5535\"").count
        = rit_count
        = "(#{100 * rit_count/total_count}%)" unless total_count == 0
      %li
        %strong Resumes:
        = resume_count = Questionnaire.where("resume_file_name != ''").count
        = "(#{100 * resume_count/total_count}%)" unless total_count == 0
      %li
        %strong Registered Users:
        = User.where(admin: false).count
        (non-admin)
  .container.container-half
    %h3 Schools
    %small Application Count - Name
    %ul
      - School.where("questionnaire_count >= 1").select([:name, :questionnaire_count]).order("questionnaire_count DESC").each do |school|
        %li= "#{school.questionnaire_count} - #{school.name}"
