%section.section.manage
  %h1.section-title BrickHack Dashboard
  .container
    #chart
    = javascript_include_tag "vendor/d3.v3.min.js"
    = javascript_include_tag "vendor/queue.v1.min.js"
    = javascript_include_tag "vendor/topojson.v1.min.js"
    = javascript_include_tag "manage/map.js"
  .container.container-half
    %h3 Today's Stats
    - today = Time.now.beginning_of_day
    %ul
      %li
        %strong New Confirmations:
        = total_count = Questionnaire.where("acc_status_date >= :today AND acc_status = \"rsvp_confirmed\"", today: today).count
      %li
        %strong New Denials:
        = total_count = Questionnaire.where("acc_status_date >= :today AND acc_status = \"rsvp_denied\"", today: today).count
      %li
        %strong New Applications:
        = total_count = Questionnaire.where("created_at >= :today", today: today).count
      %li
        %strong RIT Applications:
        - rit_count = Questionnaire.where("school_id = \"2304\" AND created_at >= :today OR school_id = \"5535\" AND created_at >= :today", today: today).count
        = rit_count
        = "(#{100 * rit_count/total_count}%)" unless total_count == 0
      %li
        %strong Resumes:
        = resume_count = Questionnaire.where("resume_file_name != '' AND created_at >= :today", today: today).count
        = "(#{100 * resume_count/total_count}%)" unless total_count == 0
    %h3 Acceptance Stats
    %ul
      %li
        %strong
          %span.acc-status-rsvp_confirmed RSVP Confirmed:
        = Questionnaire.where(acc_status: "rsvp_confirmed").count
        (Everyone)
      %li
        %strong
          %span.acc-status-rsvp_confirmed RSVP Confirmed:
        = Questionnaire.where("acc_status = \"rsvp_confirmed\" AND school_id = \"2304\" OR acc_status = \"rsvp_confirmed\" AND school_id = \"5535\"").count
        (RIT)
      %li
        %strong
          %span.acc-status-accepted Accepted:
        = Questionnaire.where(acc_status: "accepted").count
        (Everyone)
      %li
        %strong
          %span.acc-status-accepted Accepted:
        = Questionnaire.where("acc_status = \"accepted\" AND school_id = \"2304\" OR acc_status = \"accepted\" AND school_id = \"5535\"").count
        (RIT)
      %li
        %strong
          %span.acc-status-waitlist Waitlisted:
        = Questionnaire.where(acc_status: "waitlist").count
      %li
        %strong
          %span.acc-status-denied Denied:
        = Questionnaire.where(acc_status: "denied").count
      %li
        %strong
          %span.acc-status-rsvp_denied RSVP Denied:
        = Questionnaire.where(acc_status: "rsvp_denied").count
      %li
        %strong
          %span.acc-status-pending Pending:
        = Questionnaire.where(acc_status: "pending").count
      %li
        %strong
          %span.acc-status-late_waitlist Late Waitlisted:
        = Questionnaire.where(acc_status: "late_waitlist").count
    %h3 Total Stats
    %ul
      %li
        %strong Applications:
        = total_count = Questionnaire.count
      %li
        %strong RIT Applications:
        - rit_count = Questionnaire.where("school_id = \"2304\" OR school_id = \"5535\"").count
        = rit_count
        = "(#{100 * rit_count/total_count}%)" unless total_count == 0
      %li
        %strong Resumes:
        = resume_count = Questionnaire.where("resume_file_name != ''").count
        = "(#{100 * resume_count/total_count}%)" unless total_count == 0
      %li
        %strong Registered Users:
        = User.where(admin: false).count
        (non-admin)
  .container.container-half
    %h3 Schools
    %small Application Count - Name
    %ul
      - School.where("questionnaire_count >= 1").select([:name, :questionnaire_count]).order("questionnaire_count DESC").each do |school|
        %li= "#{school.questionnaire_count} - #{school.name}"
