- event_schedule = Schedule.new("146w2Ozjkomtubbob03DWpUMN3vBOtCnxn_YCh82Vga0", 0)

.white-section.diagonal#schedule
  .home-content
    %h1
      Schedule
      %p.pull-right.white
        %small
          %em * Schedule subject to change
    - sections = event_schedule.sections
    - if sections.blank?
      %p.center Schedule temporarily unavailable - please check back later!
      %br
    - else
      - first_used = false
      - sections.each do |section|
        .schedule__section
          .schedule__day
            .schedule__day-text= section.shift
          .schedule__rows
            - section.each_with_index do |row, index|
              - row_class = []
              - row_class << 'schedule__row--static' if row[2] && row[3] == ':static'
              - row_class << 'schedule__row--selected' && first_used = true unless first_used
              - trigger_class = row[3] == ':static' ? '' : 'schedule__trigger'
              .schedule__row{ class: row_class.join(' ') }
                .schedule__time{ class: trigger_class }= row[0]
                .schedule__line{ class: trigger_class }
                  .schedule__dot
                .schedule__details
                  .schedule__title{ class: trigger_class }= row[1]
                  - if row[2]
                    .schedule__location= row[2]
                  - if row[3] && row[3] != ':static'
                    .schedule__desc= row[3].html_safe
