- content_for(:title, "BrickHack API List")
- content_for(:head) do
  = stylesheet_link_tag 'home.css'

= render "layouts/nav"

.api-section-top-margin.grey-section.diagonal
  .home-content
    %h1 BrickHack APIs
    .split-three
      .column
        = image_tag 'sponsors/microsoft.png', class: 'img-spaced'
        %h2 Microsoft Cognitive APIs
        %p Tinker with the some of the Cognitive APIs of one of the largest tech giants in the world.
        %p It's building time. Integrate these vision, speech, language, knowledge, and search APIs into your app, on the platform of your choice.
        = btn_link_to 'Check it out', 'https://www.microsoft.com/cognitive-services/en-us/apis'
      .column
        = image_tag 'sponsors/ibm.png', class: 'img-spaced'
        %h2 IBM Watson
        %p Go beyond artificial intelligence with Watson.
        %p With Watson APIs and solutions, businesses are already achieving outcomes – from improving customer engagement, to scaling expertise, to driving innovation and growth.
        = btn_link_to 'Check it out', 'https://www.ibm.com/watson/'
      .column
        = image_tag 'sponsors/ups.png', class: 'img-spaced'
        %h2 UPS Developer Kit
        %p Whether it's pre-shipment or tracking, UPS Developer Kit APIs can help provide a seamless, positive customer experience.
        %p The UPS Developer Kit APIs offer various services to enhance shipping and tracking systems. For all rate and service changes or enhancements, refer to the UPS Rate and Service Guide. For all technical changes and enhancements, refer to the Developer's Guide specific to each API.
        = btn_link_to 'Check it out', 'http://ups.com/upsdeveloperkit'

.black-section.diagonal#footer
  .home-content
    .split-four
      .column
        = image_tag 'rit.svg'
        %p
          1 Lomb Memorial Drive
          %br
          Rochester, NY 14623
      .column
        %h4 Contact
        %p
          Questions?
          = link_to 'Contact us', 'mailto:hello@brickhack.io'
        %p
          Found a bug?
          = link_to '<span class="fa fa-github fa-fw"></span> GitHub'.html_safe, 'https://github.com/codeRIT/brickhack.io/issues/new'
      .column
        %h4 codeRIT
        %p
          = link_to '<span class="fa fa-globe fa-fw"></span> codeRIT.org'.html_safe, 'https://coderit.org'
        %p
          = link_to '<span class="fa fa-twitter-square fa-fw"></span> Twitter'.html_safe, 'https://twitter.com/coderit'
        %p
          = link_to '<span class="fa fa-facebook-square fa-fw"></span> Facebook'.html_safe, 'https://www.facebook.com/groups/codeRIT/'
      .column
        %h4 BrickHack
        %p
          = link_to '<span class="fa fa-twitter-square fa-fw"></span> Twitter'.html_safe, 'https://twitter.com/brickhackrit'
        %p
          = link_to '<span class="fa fa-facebook-square fa-fw"></span> Facebook'.html_safe, 'https://www.facebook.com/brickhackrit'
        %p
          = link_to '<span class="fa fa-youtube-square fa-fw"></span> YouTube'.html_safe, 'https://www.youtube.com/channel/UCz3-V8NNSXZM_fUEh-kAptA'
