%div{class:"header"}
  = image_tag('brickhack_logo_v2_filled.svg', :id=>"logo",:alt=>"BrickHack", :title=>"BrickHack")
%div{class:"block schedule"}
  %div{class:"container"}
    %h3{class:"name","data-target" => "schedule"}Schedule
  %div{class:"info", id:"schedule",style:"display:block;"}
    %div{class:"container"}
      = render partial: "schedule"

%div{class:"block map"}
  %div{class:"container"}
    %h3{class:"name","data-target" => "map"}Map
  %div{class:"info", id:"map"}
    %div{class:"container"}
      %div{class:"maps carousel"}
        = image_tag('maps/brickhack_map_1.jpg', :class => "map", :alt =>'BrickHack Map - First Floor', :title =>'BrickHack Map - First Floor')
        = image_tag('maps/brickhack_map_2.jpg', :class => "map", :alt =>'BrickHack Map - Second Floor', :title =>'BrickHack Map - Second Floor')
        = image_tag('maps/brickhack_map_3.jpg', :class => "map", :alt =>'BrickHack Map - Third Floor', :title =>'BrickHack Map - Third Floor')
      %p{class:"center"} Swipe Friendly

%div{class:"block support"}
  %div{class:"container"}
    %h3{class:"name","data-target" => "support"}FAQ / Support
  %div{class:"info", id:"support"}
    %div{class:"container"}
      %div{class:"support carousel"}
        %div
          %h4 Connecting to Wi-FI
          %p
            Please use
            %strong rit_guest
            to connect to the Internet. When connecting, you will be given instructions on how to gain complete access.
          %p
            If your school is eligible, feel free to use
            %strong eduroam

          %h4 Notifications
          %p
            In order to recieve updates and notifcations throughout the day, please sign up for Remind. To do so, simply text
            %b @brickhack
            to
            %b 81010

          %h4 Submissions
          %p
            All projects must be submitted to
            %a{href:'http://brickhack.challengepost.com/', target:'_blank'}ChallengePost
            by 11 AM on Sunday. While hacking does not end until 12 PM, it will help expedite the expo portion of the event. Be sure to mark what award categories you’re submitting into so we don’t miss judging you for that prize.
        %div
          %h4 Tech Talks
          %p The talks will start 1:00pm. All talks will take place in the Innovation/MAGIC Center. For more details about each talk, please see the Schedule.

          %h4 Food
          %p Breakfast, Lunch, and Dinner will all be served in the Golisano Lounge on the first floor.

          %h4 Travel Reimbursements
          %p
            We will be able to reimburse up to $50 per attendee that is not from RIT. To collect your reimbursement, we will be using
            %a{href:'https://venmo.com/',target:'_blank'}Venmo
            with help from MLH.
          %p
            Please send the following information to
            %a{href:'mailto:travel@coderit.org?subject=BrickHack Travel Reimbursement', target:'_blanks'}travel@coderit.org
            %ul
              %li Full Name
              %li Email Address
              %li Phone Number
              %li Venmo Username
              %li
                %a{href:'http://www.irs.gov/pub/irs-pdf/fw9.pdf',target:'_blank',class:'underline'}Completed W9 Form
      %p{class:"center"} Swipe Friendly

%div{class:"block mentors"}
  %div{class:"container"}
    %h3{class:"name","data-target" => "mentors"}Mentors
  %div{class:"info", id:"mentors"}
    %div{class:"container"}
      %div{class:"mentor-list carousel"}
        %div
          %h3 Bose
          %ul
            %li Nate Bragg
            %li Michael Elliot
            %li Marc Gudell
            %li Akshay Thejaswi
          %p C++, C, Python, Haskell, Regular Expressions, Vimscript, Linux, Object Oriented Design, Networking, Protocols, Control Systems, Real-time, Multi-threading and parallel processing, REST, XMLRPC, JSON, Websocket, OOP Javascript, HTML5, CSS3, UX & UI, Web Application Service Architecture, Android, Java

        %div
          %h3 Datto, Inc.
          %ul
            %li Austin McChord
            %li Brian Kenny
            %li Brian Kotos
            %li Chris Serafin
            %li Dash Winterson
            %li David Dushok
            %li Greg Gage
            %li Marcus Recck
            %li Mike Corbeil
            %li Robert Gibbons
            %li Steve Burgess
            %li Tom Caputi
            %li David Alpert
          %p PHP, Python, etc.

        %div
          %h3 EffectiveUI
          %ul
            %li Matt Bernius
            %li Dave Barnum
            %li Alexandra Atzl
          %p Front End Web, HTML5, CSS, JavaScript

          %h3 Google
          %ul
            %li Liam Morris
            %li Evan Charlton
            %li Tom Rudick

          %h3 MAGIC
          %ul
            %li Andy Phelps
          %p Front End Web, HTML5, CSS, JavaScript, Canvas, WebGL

        %div
          %h3 Mozilla
          %ul
            %li John Karahalis

          %h3 Staples
          %ul
            %li Susan Madaio
            %li Amy Asman
            %li Ted Haynes
            %li Suparna Datta
            %li Jessica Steffanson
            %li Burc Oral
            %li Sarat Dontula
            %li Vijaykumar Pathalingappa
          %p API, Java, JSP, NodeJS, JavaScript, Databases (Mongo, DB2, Oracle, MySQL), Business analysis, Data Modeling, eCommerce, J2EE, API Design and Development, iOS, JavaScript Frameworks, RDBMS, Cloud Applications, Retail Supply Chain

        %div
          %h3 Synacor
          %ul
            %li Anthony Mirabella
          %p Perl, Go, API design, data modeling, MySQL, HTTP, LAMP

          %h3 Teespring
          %ul
            %li Eric Koslow

          %h3 Twilio
          %ul
            %li Ricky Robinett
          %p PHP, Node.js, iOS

      %p{class:"center"} Swipe Friendly
%div{class:"block sponsors"}
  %div{class:"container"}
    %h3{class:"name","data-target" => "sponsors"}Sponsors
  %div{class:"info", id:"sponsors"}
    %div{class:"container"}
      %a{href:"http://dattobackup.com/",class:'sponsor',target:"_blank"}
        = image_tag("sponsors/datto.png", alt:"Datto", :title=>"Datto")
      %br
      %a{href:"http://google.com",class:'sponsor',target:"_blank"}
        = image_tag("sponsors/google.png", alt:"Google", :title=>"Google", id:"google")
      %a{href:"http://bose.com",class:'sponsor',target:"_blank"}
        = image_tag("sponsors/bose.png", alt:"Bose", :title=>"Bose", id:"bose")
      %br
      %a{href:"http://staples.com",class:'sponsor',target:"_blank"}
        = image_tag("sponsors/staples.gif", alt:"Staples", :title=>"Staples")
      %a{href:"http://emc.com",class:'sponsor',target:"_blank"}
        = image_tag("sponsors/emc.png", alt:"EMC", :title=>"EMC", id:"emc")
      %a{href:"http://synacor.com",class:'sponsor',target:"_blank"}
        = image_tag("sponsors/synacor.gif", alt:"Synacor", :title=>"Synacor")
      %a{href:"http://spotify.com",class:'sponsor',target:"_blank"}
        = image_tag("sponsors/spotify.gif", alt:"Spotify", :title=>"Spotify")
      %br
      %a{href:"http://mozilla.com",class:'sponsor',target:"_blank"}
        = image_tag("sponsors/mozilla.png", alt:"Mozilla", :title=>"Mozilla",id:'firefox')
      %a{href:"http://effectiveui.com",class:'sponsor',target:"_blank"}
        = image_tag("sponsors/effectiveui.gif", alt:"EffectiveUI", :title=>"EffectiveUI")
      %br
      %a{href:"http://digitalocean.com",class:'sponsor',target:"_blank"}
        = image_tag("sponsors/digitalocean.png", alt:"Digital Ocean", :title=>"Digital Ocean", id:"digitalocean")
      %a{href:"http://twilio.com",class:'sponsor',target:"_blank"}
        = image_tag("sponsors/twilio.png", alt:"Twilio", :title=>"Twilio", id:'twilio')
      %br
      %a{href:"http://hackerrank.com",class:'sponsor',target:"_blank"}
        = image_tag("sponsors/hackerrank.png", alt:"HackerRank", :title=>"HackerRank", id:"hackerrank")
      %a{href:"http://namecheap.com",class:'sponsor',target:"_blank"}
        = image_tag("sponsors/namecheap.gif", alt:"Namecheap", :title=>"Namecheap", id:"namecheap")
      %a{href:"http://teespring.com",class:'sponsor',target:"_blank"}
        = image_tag("sponsors/teespring.gif", alt:"Teespring", :title=>"Teespring")

      %h2{class:'section-title'} Partners
      %a{href:"http://mlh.io/",class:'sponsor',target:"_blank"}
        = image_tag("partners/mlh.png", alt:"MLH", :title=>"MLH")
      %a{href:"http://magic.rit.edu/main/index.html",class:'sponsor',target:"_blank"}
        = image_tag("partners/magic.gif", alt:"MAGIC", :title=>"MAGIC")
      %a{href:"http://www.rit.edu/research/simonecenter/",class:'sponsor',target:"_blank"}
        = image_tag("partners/simone.png", alt:"Simone", :title=>"Simone", id: "simone")

%footer{class:"footer"}
  BrickHack is student run by
  %a{href:"http://coderit.org", class:"coderit-logo", target:'_blank'} CodeRIT
