= stylesheet_link_tag 'home.css'

= render "layouts/nav"

- mentor_link = "https://goo.gl/forms/3rNdjlrS9u7gZX9p1".freeze
- volunteer_link = "https://goo.gl/forms/7Z6dZmZxEOXXpBPA3".freeze

.page.split-home#home
  .split-left
    = image_tag 'scroller.png'
  .split-right
    %h1.title BrickHack 3
    - if !EVENT_IS_OVER
      %h3 Inviting students to come together on
    %h2.subtitle February 11-12, 2017
    %br
    - if EVENT_IS_OVER
      %h3 Thanks for a great BrickHack! See you next year!
    - elsif !REGISTRATION_IS_OPEN
      %h3 Registration has closed.
      / TODO: better styling for this - looks too much like the h3 statement

    - if current_user
      - if current_user.admin
        = link_to manage_dashboard_index_path do
          .button.button-outline MANAGE
      - else
        = link_to questionnaires_path do
          .button.button-outline MY ACCOUNT
    - elsif REGISTRATION_IS_OPEN
      = link_to new_user_registration_path do
        .button.button-outline SIGN UP TODAY!
    - if EVENT_IS_OVER
      = link_to "https://brickhack3.devpost.com/submissions/" do
        .button.button-outline SUBMISSIONS
    - else
      %br
      = link_to volunteer_link do
        .button.button-outline VOLUNTEER
      %br
      = link_to mentor_link do
        .button.button-outline MENTOR

.white-section.diagonal#about
  .home-content.about-gallery
    .about
      %h1 RIT's Premiere Hackathon
      %p
        BrickHack brings
        %strong designers, developers,
        and
        %strong all sorts of makers
        together for 24 hours to create the impossible!

      %p
        Mentors and industry representatives will lend expertise and watch as you dive into learning, developing, and producing a unique project.

      %p
        From
        %strong noon February 11 to noon February 12,
        you'll join a team or work solo in RIT's Clark Gym. If you'd like to see how to get around the RIT campus, see our
        = link_to 'parking instructions', image_path('brickhack-parking.png')
        and <a href="https://maps.rit.edu">RIT's map</a>.
        / TODO: link to the map

      = link_to 'https://brickhack3.devpost.com/' do
        .button.button-primary Devpost

    .gallery#gallery
      = image_tag 'gallery-img.png'
      .button-wrapper
        = link_to 'See Gallery', '/gallery/', class: 'button button-overlay'

/ TODO: who should come

.grey-section.diagonal#whoshouldcome
  .home-content
    %h1 Who should come?
    .split-three
      .column
        = image_tag 'des_grey.png', class: 'img-spaced'
        %h2 Designers
        %p Do you have a penchant for creating intuitive works? Take this opportunity to work with other designers!
        %p Work on a team to create a new brand or marketing strategy! You can even hack alongside engineers to produce a working prototype.
        = btn_link_to 'Design Category', 'https://goo.gl/51WUv0'
      .column
        = image_tag 'dev_grey.png', class: 'img-spaced'
        %h2 Developers
        %p Does hammering away at bugs excite you? What about exploring new technologies while bringing an idea to life?
        %p Come together to hack on the next solution to an every day problem, or even contribute back to the open source community.
        = btn_link_to 'API List', 'https://goo.gl/qmv2GH'
      .column
        = image_tag 'eng_grey.png', class: 'img-spaced'
        %h2 Engineers
        %p Is hardware your passion? Does bringing the physical world to life excite you?
        %p Put the parts together and get hands-on to construct your vision. We'll have various devices & products from MLH's popular hardware lab to work with.
        = btn_link_to 'Hardware Lab', 'https://hardware.mlh.io'

= render 'schedule'

.grey-section.diagonal#faq
  .home-content
    %h1 FAQ

    .split-four
      .column
        %h2 What is a hackathon?
        %p
          Great question! A hackathon is best described as an “invention marathon”. Anyone with an interest in technology attends a hackathon to learn, build & share their creations over the course of a weekend in a relaxed, welcoming atmosphere. You don’t have to be a programmer and you certainly don’t have to be majoring in CS!
        %p
          MLH has a great list of related questions over at <a href="https://mlh.io/faq">mlh.io/faq</a>.

      .column
        %h2 How am I supposed to get there?
        %p If you live in the Rochester, NY area, you’re good to go. If not, we still welcome you! Some schools will have a bus provided; see below. Unfortunately we are unable to provide travel reimbursements. If you have any questions, contact <a href="mailto:travel@coderit.org">travel@codeRIT.org</a>.

      .column
        %h2 What should I bring?
        %p Bring yourself, a photo ID, clothes, toiletries, a sleeping bag/blanket, your hacker setup and maybe an idea or two.

      .column
        %h2 Who can participate in BrickHack?
        %p
          Anyone who is currently enrolled as a student or has graduated within the last 12 months can attend! If you don't fit that description, you're absolutely welcome to attend as a <a href="#{mentor_link}">mentor</a> or <a href="#{volunteer_link}">volunteer</a>.
        %p All attendees must be 18 years or older to attend. Proof of your age may be requested on the day of the event.

      .column
        %h2 When does registration close?
        %p Acceptance notification will start being sent out January 26th. Applications submitted afterwards will be waitlisted.

      .column
        %h2 How much does this cost?
        %p Zero. Zip. Nada. Attending BrickHack is free, and we'll be providing plenty of food and swag throughout the weekend!

      .column
        %h2 I've never been to a hackathon before, can I still apply?
        %p Of course you can! Our attendees will range from first-timers to veteran hackers. Saddle up to a new framework, refresh a stale project, or just hang out and enjoy the diverse company.

      .column
        %h2 I don't live near Rochester - can I still come?
        %p Definitely. We invite hackers from all over the US and Canada to join us for our annual event!

      .column
        %h2 Are busses being provided?
        %p Busses are being provided to students at Buffalo, Cornell, Binghamton, RPI, and Albany. If you're eligible for a bus, you'll see the option to sign up when you RSVP!

      .column
        %h2 Do I need a team to join?
        %p While teams are often recommended and sometimes more fun, they're not required. Feel free to invite your friends. Teams are a max of 4 people.

      .column
        %h2 Do RIT students need to apply?
        %p Yes, RIT students need to apply just like everyone else.

      .column
        %h2 Can high schoolers join?
        %p Anyone that fits the age requirements can apply, even high schoolers.

      .column
        %h2 When will I know if I got in?
        %p Acceptance notifications will start being sent out January 16th on a rolling basis.

      .column
        %h2 Should I bring my own bricks?
        %p We've got you covered.

      .column
        %h2 My question isn't answered here?
        %p Fret not! Feel free to reach out to us on <a href="https://twitter.com/brickhackrit">Twitter</a>, <a href="https://www.facebook.com/brickhackrit">Facebook</a>, or <a href="mailto:hello@coderit.org">email</a>.

.white-section.diagonal#sponsors
  .home-content
    .split-three
      .column.column--two
        %h1 Sponsors
        .sponsors
          - STATIC_DATA['sponsors'].each do |sponsor|
            - sponsor_class = []
            - sponsor_class << 'sponsor-small' if sponsor['small']
            - sponsor_class << 'sponsor-large' if sponsor['large']
            %a.sponsor{ href: sponsor['url'], class: sponsor_class.join(' '), target: '_blank' }
              = image_tag "sponsors/#{sponsor['image']}", class: 'img-spaced'
        %br
        = link_to 'Interested in Sponsoring?', image_path("BrickHack_Sponsorship_Information.pdf"), { class: 'button', style: 'margin-bottom: 60px;' }
      .column
        %h1 Partners
        %a.sponsor{ href: "http://magic.rit.edu", target: "_blank" }
          = image_tag 'sponsors/magic.gif', id: "magic", class: 'img-spaced'
        %a.sponsor{ href: "https://mlh.io", target: "_blank" }
          = image_tag 'sponsors/mlh.png', class: 'img-spaced'
        %a.sponsor{ href: "https://www.rit.edu/research/simonecenter/", target: "_blank" }
          = image_tag 'sponsors/simone.png', class: 'img-spaced'

        %h1 Organized By
        %a.sponsor{ href: "https://coderit.org", target: "_blank" }
          = image_tag 'coderit_logo.png', class: 'img-spaced'


.black-section.diagonal#footer
  .home-content
    .split-four
      .column
        = image_tag 'rit.svg'
        %p
          1 Lomb Memorial Drive
          %br
          Rochester, NY 14623
      .column
        %h4 Contact
        %p
          Questions?
          = link_to 'Contact us', 'mailto:hello@codeRIT.org'
        %p
          Found a bug?
          = link_to '<span class="fa fa-github fa-fw"></span> GitHub'.html_safe, 'https://github.com/codeRIT/brickhack.io/issues/new'
      .column
        %h4 codeRIT
        %p
          = link_to '<span class="fa fa-globe fa-fw"></span> codeRIT.org'.html_safe, 'https://coderit.org'
        %p
          = link_to '<span class="fa fa-twitter-square fa-fw"></span> Twitter'.html_safe, 'https://twitter.com/coderit'
        %p
          = link_to '<span class="fa fa-facebook-square fa-fw"></span> Facebook'.html_safe, 'https://www.facebook.com/groups/codeRIT/'
      .column
        %h4 BrickHack
        %p
          = link_to '<span class="fa fa-twitter-square fa-fw"></span> Twitter'.html_safe, 'https://twitter.com/brickhackrit'
        %p
          = link_to '<span class="fa fa-facebook-square fa-fw"></span> Facebook'.html_safe, 'https://www.facebook.com/brickhackrit'
        %p
          = link_to '<span class="fa fa-youtube-square fa-fw"></span> YouTube'.html_safe, 'https://www.youtube.com/channel/UCz3-V8NNSXZM_fUEh-kAptA'

%a#mlh-trust-badge{ href: "https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=white", target: "_blank" }
  %img{ alt: "Major League Hacking 2017 Hackathon Season", src: "https://s3.amazonaws.com/logged-assets/trust-badge/2017/white.svg", style: "width:100%" }/
