%div{class: "welcome"}
  %div{class: "container"}
    %div{class: "content"}
      = image_tag('brickhack_logo.svg', :id=>"logo-large",:alt=>"BrickHack", :title=>"BrickHack")

      %div{class:"banner_text"}
        %h3 Rochester Institute of Technology
        %h3 April 18, 2015

      %div{class:'grid two'}
        = btn_link_to "Register", new_user_registration_path
        = btn_link_to "Sponsors", "/#sponsors", class: "scroll-to"
%section{class:"section", id:"faq"}
  %div{class:"container"}
    %h2{class:'section-title white'}Frequently Asked Questions
    .center
      %p BrickHack: RIT's premiere collegiate hackathon. April 18th ignites a weekend devoted to 400 designers and coders sinking 24 hours into building and creating. Mentors and industry representatives will also join the fray to lend expertise and share wisdom. The event will span 3 floors of the GCCIS atrium for a multi-tiered hacking experience. Expect food, swag, and timeless brick-laden memories.
      %dt Location
      %p
        Rochester Institute of Technology
        %br
        1 Lomb Memorial Drive
        %br
        Rochester, New York 14623
        %br
        Bldg 70 - Golisano
    %div{class:"grid two"}
      %div{class:"col"}
        %dt When did registration close?
        %dd Registration closed February 28, 2015. Applications submitted afterwards will be waitlisted. Acceptance notifications will be sent out in March.

        %dt I've never been to a hackathon before, can I still apply?
        %dd Of course you can! Our attendees will range from first-timers to veteran hackers. Saddle up to a new framework, refresh a stale project, or just hang out and enjoy the diverse company.

        %dt I don't live near Rochester; can I still come?
        %dd Definitely. We're inviting hackers from all over the US and Canada. Travel reimbursement and busing will be provided to some participants to get them to Rochester. Expect more details soon.

        %dt How am I supposed to get there?
        %dd If you live in the Rochester, NY area, you’re good to go. If you’re coming with a lot of hackers from your school, we’ll work to get a bus for you. We’ll cover the cost of gas (up to $50) if you carpool here. We'll also reimburse a limited number of flights up to $500. If you have any questions, contact travel at coderit dot org

      %div{class:"col"}
        %dl{class:"faq"}
          %dt Do I need a team to join?
          %dd While teams are often recommended and sometimes more fun, they're not required. Feel free to invite your friends. Teams are a max of 4 people.

          %dt Do RIT students need to apply?
          %dd Yes, RIT students need to apply just like everyone else.

          %dt Are there age restrictions?
          %dd Yes: all attendees must be 18 years of age by the day of the event. Proof of your age may be requested the day of.

          %dt Can high schoolers join?
          %dd Anyone that fits the age requirements can apply, even high schoolers.

          %dt Should I bring my own bricks?
          %dd We've got you covered.
%section{id:"sponsors", class:'section'}
  %div{class:"container"}
    %h2{class:'section-title'} Sponsors
    %a{href:"http://dattobackup.com/",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/datto.png", alt:"Datto", :title=>"Datto")
    %br
    %a{href:"http://google.com",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/google.png", alt:"Google", :title=>"Google", id:"google")
    %a{href:"http://bose.com",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/bose.png", alt:"Bose", :title=>"Bose", id:"bose")      
    %br      
    %a{href:"http://staples.com",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/staples.gif", alt:"Staples", :title=>"Staples")      
    %a{href:"http://emc.com",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/emc.png", alt:"EMC", :title=>"EMC", id:"emc")             
    %a{href:"http://synacor.com",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/synacor.gif", alt:"Synacor", :title=>"Synacor")
    %a{href:"http://spotify.com",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/spotify.gif", alt:"Spotify", :title=>"Spotify")        
    %br  
    %a{href:"http://mozilla.com",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/mozilla.png", alt:"Mozilla", :title=>"Mozilla",id:'firefox')          
    %a{href:"http://effectiveui.com",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/effectiveui.gif", alt:"EffectiveUI", :title=>"EffectiveUI")                  
    %br
    %a{href:"http://digitalocean.com",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/digitalocean.png", alt:"Digital Ocean", :title=>"Digital Ocean", id:"digitalocean")
    %a{href:"http://twilio.com",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/twilio.png", alt:"Twilio", :title=>"Twilio", id:'twilio')      
    %br
    %a{href:"http://hackerrank.com",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/hackerrank.png", alt:"HackerRank", :title=>"HackerRank", id:"hackerrank")
    %a{href:"http://namecheap.com",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/namecheap.gif", alt:"Namecheap", :title=>"Namecheap", id:"namecheap")    
    %a{href:"http://teespring.com",class:'sponsor',target:"_blank"}
      = image_tag("sponsors/teespring.gif", alt:"Teespring", :title=>"Teespring")    
      
    %h2{class:'section-title'} Partners
    %a{href:"http://mlh.io/",class:'sponsor',target:"_blank"}
      = image_tag("partners/mlh.png", alt:"MLH", :title=>"MLH")
    %a{href:"http://magic.rit.edu/main/index.html",class:'sponsor',target:"_blank"}
      = image_tag("partners/magic.gif", alt:"MAGIC", :title=>"MAGIC")
    %a{href:"http://www.rit.edu/research/simonecenter/",class:'sponsor',target:"_blank"}
      = image_tag("partners/simone.png", alt:"Simone", :title=>"Simone", id: "simone")
    %div{class:'call-to-action'}
      %a{class:"button blue", href:"#{root_url}assets/BrickHack_Sponsorship_Information.pdf"}Become A Sponsor
%section{id:"contact", class:'section'}
  %div{class:"container"}
    %h2{class:'section-title white'} Contact
    %div{class:'grid two center'}
      %div{class:'col'}
        %p Have any questions or concerns? Please feel free to contact us.<br/>If you have not yet, please check out the <a href="#faq">FAQ</a> as your questions may already be answered.
        %a{class:"button blue", href:"mailto:carl@coderit.org?subject=BrickHack Questions"}Get In Touch
