= stylesheet_link_tag 'home.css'
= stylesheet_link_tag ''
= render "layouts/nav"

- mentor_link = "https://goo.gl/forms/d8WiaiM7rYaLz3SQ2".freeze
- volunteer_link = "https://goo.gl/forms/cpmRgGxLsUUjNymG2".freeze

.page.split-home#home
  .split-left#home-left
    %h1.title BrickHack 4
    %h2.subtitle January 27-28, 2018 at the
    %h2.subtitle Rochester Institute of Technology
    %br
    - if Rails.configuration.hackathon['event_is_over']
      %h3 Thanks for a great BrickHack! See you next year!
    - elsif !Rails.configuration.hackathon['registration_is_open']
      %h3 Registration has closed.
      / TODO: better styling for this - looks too much like the h3 statement

    - if current_user
      - if current_user.admin
        = link_to manage_dashboard_index_path do
          .button.button-outline MANAGE
      - else
        = link_to questionnaires_path do
          .button.button-outline MY ACCOUNT
    - elsif Rails.configuration.hackathon['registration_is_open']
      = link_to new_user_registration_path do
        .button REGISTER NOW
    - if Rails.configuration.hackathon['event_is_over']
      = link_to "https://brickhack3.devpost.com/submissions/" do
        .button.button-outline SUBMISSIONS
      = link_to URI.escape("mailto:hello@brickhack.io?subject=BrickHack Organizer Interest&body=Hey there! I'm interested in helping organize BrickHack. How can I help?") do
        .button.button-outline HELP ORGANIZE

#about
  .home-content.about-gallery
    .about.split-home
      .split-left
        #slider
          #images

          #controls
            %div
              %button#previous &lt;
              %button#next &gt;

      .split-right
        %h1 Brick City's Premiere Hackathon
        %p
          BrickHack brings
          designers, developers, and all sorts of
          %br
          makers together for 24 hours to create the impossible!

        %p
          Mentors and industry representatives will lend expertise and
          %br
          watch as you dive into learning, developing, and producing a
          %br
          unique project.

        %p
          From the novices to the experts, from designers to engineers,
          %br
          %strong this one's for you!


#faq
  .home-content
    %h1 Do you have questions? We have answers.

    .split-four
      .column
        %h2 What is a hackathon?
        %p
          Great question! A hackathon is best described as an “invention marathon”. Anyone with an interest in technology attends a hackathon to learn, build & share their creations over the course of a weekend in a relaxed, welcoming atmosphere. You don’t have to be a programmer and you certainly don’t have to be majoring in CS!
        %p
          MLH has a great list of related questions over at <a href="https://mlh.io/faq">mlh.io/faq</a>.

      .column
        %h2 How am I supposed to get there?
        %p If you live in the Rochester, NY area, you’re good to go. If not, we still welcome you! Some schools will have a bus provided; see below. Unfortunately we are unable to provide travel reimbursements. If you have any questions, contact <a href="mailto:travel@brickhack.io">travel@brickhack.io</a>.

      .column
        %h2 What should I bring?
        %p Bring yourself, a photo ID, clothes, toiletries, a sleeping bag/blanket, your hacker setup and maybe an idea or two.

      .column
        %h2 Who can participate in BrickHack?
        %p
          Anyone who is currently enrolled as a student or has graduated within the last 12 months can attend! If you don't fit that description, you're absolutely welcome to attend as a <a href="#{mentor_link}">mentor</a> or <a href="#{volunteer_link}">volunteer</a>.
        %p All attendees must be 18 years or older to attend. Proof of your age may be requested on the day of the event.

      .column
        %h2 When does registration close?
        %p Acceptance notification will start being sent out January 26th. Applications submitted afterwards will be waitlisted.

      .column
        %h2 How much does this cost?
        %p Zero. Zip. Nada. Attending BrickHack is free, and we'll be providing plenty of food and swag throughout the weekend!

      .column
        %h2 I've never been to a hackathon before, can I still apply?
        %p Of course you can! Our attendees will range from first-timers to veteran hackers. Saddle up to a new framework, refresh a stale project, or just hang out and enjoy the diverse company.

      .column
        %h2 I don't live near Rochester - can I still come?
        %p Definitely. We invite hackers from all over the US and Canada to join us for our annual event!

      .column
        %h2 Are busses being provided?
        %p Busses are being provided to students at Buffalo, Cornell, Binghamton, RPI, and Albany. If you're eligible for a bus, you'll see the option to sign up when you RSVP!

      .column
        %h2 Do I need a team to join?
        %p While teams are often recommended and sometimes more fun, they're not required. Feel free to invite your friends. Teams are a max of 4 people.

      .column
        %h2 Do RIT students need to apply?
        %p Yes, RIT students need to apply just like everyone else.

      .column
        %h2 Can high schoolers join?
        %p Anyone that fits the age requirements can apply, even high schoolers.

      .column
        %h2 When will I know if I got in?
        %p Acceptance notifications will start being sent out January 16th on a rolling basis.

      .column
        %h2 Should I bring my own bricks?
        %p We've got you covered.

      .column
        %h2 My question isn't answered here?
        %p Fret not! Feel free to reach out to us on <a href="https://twitter.com/brickhackrit">Twitter</a>, <a href="https://www.facebook.com/brickhackrit">Facebook</a>, or <a href="mailto:hello@brickhack.io">email</a>.

#sponsors
  .home-content
    .split-three
      .column.column--two
        %h1{:style => "text-align: left;"} A huge thank you to our sponsors!
        .sponsors
          - STATIC_DATA['sponsors'].each do |sponsor|
            - sponsor_class = []
            - sponsor_class << 'sponsor-small' if sponsor['small']
            - sponsor_class << 'sponsor-large' if sponsor['large']
            %a.sponsor{ href: sponsor['url'], class: sponsor_class.join(' '), target: '_blank' }
              = image_tag "sponsors/#{sponsor['image']}", class: 'img-spaced'
        %br
          = btn_link_to 'Interested in Sponsoring?', image_path("BrickHack 4 Sponsorship Information.pdf"), { style: 'margin-bottom: 60px;' }

    %h1 BrickHack is brought to you by...
    %a.sponsor{ href: "https://mlh.io", target: "_blank" }
      = image_tag 'sponsors/mlh.png', class: 'img-spaced'
    %br
    %a.sponsor{ href: "https://coderit.org", target: "_blank" }
      = image_tag 'coderit_logo.png', class: 'img-spaced'

#logo-footer

#footer
  .home-content
    .split-four
      .column
        = image_tag 'rit.svg'
        %p
          1 Lomb Memorial Drive
          %br
          Rochester, NY 14623
      .column
        %h4 Get in Contact
        %p
          = link_to 'Questions?', 'mailto:hello@brickhack.io'
        %p

          = link_to 'Found a bug?', 'https://github.com/codeRIT/brickhack.io/issues/new'
      .column
        %h4 Follow BrickHack
        %p
          = link_to '<span class="fa fa-twitter-square fa-fw"></span> Twitter'.html_safe, 'https://twitter.com/brickhackrit'
        %p
          = link_to '<span class="fa fa-facebook-square fa-fw"></span> Facebook'.html_safe, 'https://www.facebook.com/brickhackrit'
        %p
          = link_to '<span class="fa fa-youtube-square fa-fw"></span> YouTube'.html_safe, 'https://www.youtube.com/channel/UCz3-V8NNSXZM_fUEh-kAptA'
      .column
        %h4 codeRIT
        %p
          = link_to '<span class="fa fa-globe fa-fw"></span> codeRIT.org'.html_safe, 'https://coderit.org'
        %p
          = link_to '<span class="fa fa-twitter-square fa-fw"></span> Twitter'.html_safe, 'https://twitter.com/coderit'
        %p
          = link_to '<span class="fa fa-facebook-square fa-fw"></span> Facebook'.html_safe, 'https://www.facebook.com/groups/codeRIT/'


/ Start of HubSpot Embed Code
%script#hs-script-loader{ :async => "", :defer => "defer", :src => "//js.hs-scripts.com/2104052.js", :type => "text/javascript" }
/ End of HubSpot Embed Code
