!!! 5
%html
  %head
    %title Manage - BrickHack
    = render "layouts/shared_head"
    = stylesheet_link_tag "manage", :media => "all"
    = csrf_meta_tags

  %body
    = render "layouts/sidebar"
    %div{id:'main'}
      %div{id:'manageNav'}
        %p BrickHack Manager
        = link_to "Dashboard", manage_root_path
        = link_to "Questionnaires", manage_questionnaires_path
        = link_to "Admins", manage_admins_path
      = yield
    = javascript_include_tag "manage/application"
