!!! 5
%html
  %head
    %title Manage - BrickHack
    = render "layouts/shared_head"
    = stylesheet_link_tag "manage", :media => "all"
    = csrf_meta_tags

  %body
    = render "layouts/sidebar"
    = javascript_include_tag "manage/application"
    %div{id:'main'}
      %div{id:'manageNav'}
        %p BrickHack Manager
        = link_to "Dashboard", manage_root_path
        = link_to "Questionnaires", manage_questionnaires_path
        = link_to "Admins", manage_admins_path
        = link_to "Messages", manage_messages_path
        = link_to "Bus Lists", manage_bus_lists_path
        = link_to "Schools", manage_schools_path
        = link_to "Stats", manage_stats_path
      = yield
