!!! 5
%html
  %head
    %title Manage - BrickHack
    = render "layouts/shared_head"
    = stylesheet_link_tag "manage", :media => "all"
    = csrf_meta_tags

  %body.manage
    = render "layouts/sidebar"
    %div{id:'main'}
      = yield
    = javascript_include_tag "manage/application"
