- content_for(:head) do
  = stylesheet_link_tag 'home.css'

:ruby
  if current_user
    q = current_user.questionnaire
    if q.blank?
      link = link_to('Finish it now &raquo;'.html_safe, new_user_registration_path)
      flash[:notice] ||= "Your application is incomplete! #{link}"
    elsif q.can_rsvp? && !q.did_rsvp?
      link = link_to('RSVP now &raquo;'.html_safe, rsvp_path)
      flash[:notice] ||= "We are awaiting your RSVP! #{link}"
    end
  end

= render "layouts/hackathon_manager/flashes"
= render "layouts/nav"

- mentor_link = "https://goo.gl/forms/DmGMK7Jk5YNXfMGo1".freeze
- volunteer_link = "https://goo.gl/forms/cpmRgGxLsUUjNymG2".freeze

.section.about#about
  .about__wrapper
    .about__left
      .about__left-background
      = image_tag 'bh-logos/brickhack-5.svg', alt: 'BrickHack V', class: 'about__logo'
      %p.text.subtitle February 16-17, 2019 at the
      %p.text.subtitle Rochester Institute of Technology
      %br
      - if Rails.configuration.hackathon['event_is_over']
        %h3 Thanks for a great BrickHack! See you next year!
      - elsif !Rails.configuration.hackathon['registration_is_open']
        %p.text Registration opens soon.
        = btn_link_to "Get Notified &raquo;".html_safe, "https://coderit.us11.list-manage.com/subscribe?u=122b09a8cef4c1f3888af8e40&id=be625a634d"
        / = btn_link_to "Devpost", "https://brickhack4.devpost.com/"
        / = btn_link_to "Schedule", "#schedule"
        / %br
        / %br
        / %h3 Registration has closed.

      - if current_user
        - if current_user.admin
          = btn_link_to "Manage", manage_dashboard_index_path
        - else
          = btn_link_to "My Account", questionnaires_path
      - elsif Rails.configuration.hackathon['registration_is_open']
        = btn_link_to "Register Now", new_user_registration_path
      - if Rails.configuration.hackathon['event_is_over']
        = btn_link_to "Submissions", "https://brickhack4.devpost.com/submissions/"
        = btn_link_to "Help Organize", URI.escape("mailto:hello@brickhack.io?subject=BrickHack Organizer Interest&body=Hey there! I'm interested in helping organize BrickHack. How can I help?")
    .about__right
      .about__right-background
      %h2.text-center Brick City's Premiere Hackathon
      %p.text
        BrickHack brings
        %b designers, developers, and all sorts of makers
        together for 24 hours to create something from nothing.
      %p.text
        Mentors and industry representatives will lend expertise and watch as you dive into
        %b learning, developing, and producing a unique project.
      %p.text
        Expect lots of free food, swag, coffee, and all-you-can-print 3D printers! From the novices to the experts, from designers to engineers,
        %b this one's for you!

.section.video#video
  .video__wrapper
    %div
      %p.text.video__description.text-center Watch a recap from last year
      %iframe.video__frame{ allow: "autoplay; encrypted-media", allowfullscreen: "", frameborder: "0", src: "https://www.youtube-nocookie.com/embed/0fOUf1JwzBs" }

.section.what#what
  .what__wrapper
    %h2.text-center
      What is a
      %b
        hackathon?
    %p.text
      A Hackathon is an invention marathon.
      %b Any student can attend!
      Really, any student...and it's completely
      %b free.
      Don't worry about food, internet, or travel.
    %p.text
      Students work in teams and mentors are present to offer help. Sponsors attend to help, recruit, and promote their products. Teams compete in different categories and prizes are awarded, but
      %b everyone learns and everyone wins!
    %p.text
      Come spend 24 hours with us at BrickHack and
      %b dedicate time to learn, collaborate, build, and innovate.
    %p.text MLH has a great list of related questions over at <a href="https://mlh.io/faq" style="color: orange;">mlh.io/faq</a>

.section.travel#travel
  .travel__wrapper
    %h2.text-center Travel
    .travel__text-wrapper
      %p.text
        BrickHack V will be hosted at RIT in the
        %b Clark Gym
        \- 1 Lomb Memorial Dr, Rochester, NY.
      %p.text We invite hackers from all over the US and Canada to join us for our annual event!
      %ul
        %li
          If you live in the Rochester, NY area or are driving to campus you can park in
          %b D lot.
        %li
          We will have busses from Binghamton, Buffalo, and Cornell.
        %li
          Are you looking for a bus from your school? Email us at <a href="mailto:travel@brickhack.io" style="color: orange;">travel@brickhack.io</a>
      %br
      %p.text Unfortunately we are unable to provide travel reimbursements at this time. If you have any questions, just send us an email.
    %iframe.map#map{ allowfullscreen: "", frameborder: "0", src: "https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d1259.2930693215992!2d-77.67345753452042!3d43.08428833485804!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3f573101aa0cc496!2sGeorge+H+Clark+Gymnasium!5e1!3m2!1sen!2sus!4v1536014420677", style: "border:0" }

.section.faq#faq
  .faq__wrapper
    %h2.text-center Frequently Asked Questions
    = render "faq"


.section.sponsor#sponsors
  .sponsor__wrapper
    .sponsors
      %h2.text-center Sponsors
      .sponsors-col.sponsors-col-x-lg
        %a.sponsor{ href: 'https://www.datto.com', title: 'Datto', target: 'blank' }
          = image_tag 'sponsors/datto.png'
      .sponsors-col.sponsors-col-lg
        %a.sponsor{ href: 'https://cloud.google.com', title: 'Google Cloud Platform', target: 'blank' }
          = image_tag 'sponsors/google_cloud_platform.png'
      .sponsors-col.sponsors-col-med
        %a.sponsor{ href: 'https://www.tcgplayer.com/', title: 'TCGplayer, Inc.', target: 'blank' }
          = image_tag 'sponsors/tcg_player.png'
        %a.sponsor{ href: 'https://www.facebook.com/ritclubcafe/', title: 'RIT Club Cafe', target: 'blank' }
          = image_tag 'sponsors/clubcafe.png'


    %br
    %br
    %p.text
      %b Thinking about sponsoring?
    %p.text{ style: 'margin-bottom: 0.4em; line-height: 1.7;' } BrickHack offers you the unique ability to connect directly with some of the top developer students.
    %br
    %ul
      %li
        Increase awareness of your brand amongst students of top talent.
      %li
        Share your technology allowing students to utilize and expand on your products potential.
      %li
        Advertise positions you’re hiring for on our Devpost hackathon page.
      %li
        Recruit student developers who share your company’s passion.
    %p.text{ style: 'margin-top: 0.4em; line-height: 1.7;' }
      Interested in sponsoring BrickHack? Contact
      = link_to 'sponsorship@brickhack.io'.html_safe, 'mailto:sponsorship@brickhack.io?subject=BrickHack Sponsorship Inquiry', { style: 'color: orange;' }
      to learn how to get started today!
    .button__wrapper
      = btn_link_to 'Learn More', image_path("BrickHackV.pdf"), { style: 'margin-bottom: 0px;', align: 'center' }


/ Start of HubSpot Embed Code
%script#hs-script-loader{ async: "", defer: "defer", src: "//js.hs-scripts.com/2104052.js", type: "text/javascript" }
/ End of HubSpot Embed Code
