- content_for(:head) do
  = stylesheet_link_tag 'home.css'

:ruby
  if current_user
    q = current_user.questionnaire
    if q.blank?
      link = link_to('Finish it now &raquo;'.html_safe, new_user_registration_path)
      flash[:notice] ||= "Your application is incomplete! #{link}"
    elsif q.can_rsvp? && !q.did_rsvp?
      link = link_to('RSVP now &raquo;'.html_safe, rsvp_path)
      flash[:notice] ||= "We are awaiting your RSVP! #{link}"
    end
  end

= render "layouts/hackathon_manager/flashes"
= render "layouts/nav"

- mentor_link = "https://goo.gl/forms/DmGMK7Jk5YNXfMGo1".freeze
- volunteer_link = "https://goo.gl/forms/cpmRgGxLsUUjNymG2".freeze

.section.about#about
  .about__wrapper
    .about__left
      .about__left-background
      = image_tag 'bh-logos/brickhack-5.svg', alt: 'BrickHack V', class: 'about__logo'
      %p.text.subtitle February 16-17, 2019 at the
      %p.text.subtitle Rochester Institute of Technology
      %br
      - if Rails.configuration.hackathon['event_is_over']
        %h3 Thanks for a great BrickHack! See you next year!
      - elsif !Rails.configuration.hackathon['registration_is_open']
        = btn_link_to "Devpost", "https://brickhack4.devpost.com/"
        = btn_link_to "Schedule", "#schedule"
        %br
        %br
        %h3 Registration has closed.

      - if current_user
        - if current_user.admin
          = btn_link_to "Manage", manage_dashboard_index_path
        - else
          = btn_link_to "My Account", questionnaires_path
      - elsif Rails.configuration.hackathon['registration_is_open']
        = btn_link_to "Register Now", new_user_registration_path
      - if Rails.configuration.hackathon['event_is_over']
        = btn_link_to "Submissions", "https://brickhack4.devpost.com/submissions/"
        = btn_link_to "Help Organize", URI.escape("mailto:hello@brickhack.io?subject=BrickHack Organizer Interest&body=Hey there! I'm interested in helping organize BrickHack. How can I help?")
    .about__right
      .about__right-background
      %h2.text-center Brick City's Premiere Hackathon
      %p.text BrickHack brings designers, developers, and all sorts of makers together for 24 hours to create something from nothing.
      %p.text Mentors and industry representatives will lend expertise and watch as you dive into learning, developing, and producing a unique project.
      %p.text Expect lots of free food, swag, coffee, and all-you-can-print 3D printers! From the novices to the experts, from designers to engineers, this one's for you!

.section.video
  .video__wrapper
    %div
      %p.text.video__description.text-center Watch a recap from last year
      %iframe.video__frame{ allow: "autoplay; encrypted-media", allowfullscreen: "", frameborder: "0", src: "https://www.youtube-nocookie.com/embed/0fOUf1JwzBs", height: "1000px", width: "100%"}

.section#what
  %h2.text-center What is a hackathon?
  %p.text 24 hours dedicated to learning, collaborating, and building
  %p.text Hackathons have _____. Students from RIT attend alongside those traveling from other schools on the east coast _____. Sponsors attend, recruit, help, promote, ____. Mentors offer _____. Teams compete. Student collaborate. Prizes awarded. But everyone wins.
  %p.text
    %strong The event is completely free.
    Don't worry about food, laskdjf, travel, etc.
  %p.text A hackathon is best described as an “invention marathon”. Anyone with an interest in technology attends a hackathon to learn, build & share their creations over the course of a weekend in a relaxed, welcoming atmosphere. There will be free food, lots of swag, and special guests. You don't have to be a programmer and you certainly don't have to be majoring in CS!<br><br>MLH has a great list of related questions over at <a href="https://mlh.io/faq">mlh.io/faq</a>.

.section#travel
  %h2.text-center Travel
  %p.text Address: 1 Lomb Memorial Dr, Rochester, NY
  %p.text Venue
  %p.text MAP ON RIGHT SIDE
  %p.text If you live in the Rochester, NY area, you’re good to go. If not, we still welcome you! We will have busses from Binghamton, Buffalo, and Cornell. Unfortunately we are unable to provide travel reimbursements. If you have any questions, contact <a href="mailto:travel@brickhack.io">travel@brickhack.io</a>.
  %p.text Definitely. We invite hackers from all over the US and Canada to join us for our annual event!
  .map#map

.section#faq
  %h2.text-center Frequently Asked Questions
  = render "faq"


/ Start of HubSpot Embed Code
%script#hs-script-loader{ async: "", defer: "defer", src: "//js.hs-scripts.com/2104052.js", type: "text/javascript" }
/ End of HubSpot Embed Code

:javascript
  function CenterControl(controlDiv, map) {
    // Set CSS for the control border.
    var controlUI = document.createElement('div');
    controlUI.style.backgroundColor = '#fff';
    controlUI.style.border = '2px solid #fff';
    controlUI.style.borderRadius = '3px';
    controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
    controlUI.style.cursor = 'pointer';
    controlUI.style.marginTop = '5px';
    controlUI.style.marginRight = '5px';
    controlUI.style.textAlign = 'center';
    controlUI.title = 'Click to view map on Google Maps';
    controlDiv.appendChild(controlUI);
    // Set CSS for the control interior.
    var controlText = document.createElement('div');
    controlText.style.color = '#3a84df';
    controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
    controlText.style.fontSize = '11px';
    controlText.style.lineHeight = '16px';
    controlText.style.paddingLeft = '5px';
    controlText.style.paddingRight = '5px';
    controlText.style.cursor = 'pointer';
    controlText.innerHTML = 'View larger map';
    controlUI.appendChild(controlText);
    // Setup the click event listeners: simply set the map to Chicago.
    controlUI.addEventListener('click', function() {
      window.open('#{google_maps_link}');
    });
  }
  function initMap() {
    var location = {lat: 43.084643, lng: -77.681755};
    var center = {lat: 43.0846346, lng: -77.6765977};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: center,
      disableDefaultUI: true,
      zoomControl: true,
    });
    var marker = new google.maps.Marker({
      position: location,
      map: map
    });
    // Create the DIV to hold the control and call the CenterControl()
    // constructor passing in this DIV.
    var centerControlDiv = document.createElement('div');
    var centerControl = new CenterControl(centerControlDiv, map);
    centerControlDiv.index = 1;
    map.controls[google.maps.ControlPosition.TOP_RIGHT].push(centerControlDiv);
  }
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyD4N8LhHBv2LA3hlirMq-Kagsv5lAjRi70&callback=initMap"}
