- content_for(:head) do
  = stylesheet_link_tag 'live.css'

= render "layouts/hackathon_manager/flashes"
= render "layouts/nav_live"

.section#timer
  .timer__section
    .timer__column__container
      .timer__container
        %p.text-center#timer_submission
        %p.text-center#submission_text UNTIL SUBMISSIONS DUE
      .timer__container
        %p.text-center#timer_hack
        %p.text-center#submission_text UNTIL HACKING IS DONE
        :javascript
          var submissionEnds = "Feb 17 2019 09:30:00";
          var timerFunc = setInterval(function() {
            var countDownDate = new Date(submissionEnds).getTime();
            var now = new Date().getTime();
            var untilDate = countDownDate - now;
            var hours = Math.floor((untilDate/(1000*3600))%3600);
            //var hours = Math.floor((untilDate%(1000*60*60*24))/(1000*60*60));
            var minutes = Math.floor((untilDate % (1000*60*60))/(1000*60));
            var seconds = Math.floor((untilDate % (1000*60))/1000);
            document.getElementById("timer_submission").innerHTML = hours + "h "+minutes+"m "+seconds+"s ";
            if(untilDate < 0){
              clearInterval(timerFunc);
              document.getElementById("timer_submission").innerHTML = "00h 00m 00s";
            }
          }, 1000);
          var hackEnds = "Feb 17 2019 12:00:00";
          var timerFuncHack = setInterval(function() {
            var countDownDateHack = new Date(hackEnds).getTime();
            var now = new Date().getTime();
            var untilDateHack = countDownDateHack - now;
            var hoursHack = Math.floor((untilDateHack/(1000*3600))%3600);
            //var hoursHack = Math.floor((untilDateHack%(1000*60*60*24))/(1000*60*60));
            var minutesHack = Math.floor((untilDateHack % (1000*60*60))/(1000*60));
            var secondsHack = Math.floor((untilDateHack % (1000*60))/1000);
            document.getElementById("timer_hack").innerHTML = hoursHack + "h "+minutesHack+"m "+secondsHack+"s ";
            if(untilDateHack < 0){
              clearInterval(timerFuncHack);
              document.getElementById("timer_hack").innerHTML = "00h 00m 00s";
            }
          }, 1000);

.section#announce
  %h2.text-center Announcements
  .announce__column__container
    .announce__left
      #twitter__container
        %a.twitter-timeline{"data-height" => "600", "data-width" => "500", :href => "https://twitter.com/brickhackrit?ref_src=twsrc%5Etfw"} Tweets by brickhackrit
        %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}

    .announce__right

.section#info
  %h2.text-center Important Information
  .info__container
    .info__left
      .info__box
        %h3.text.text-center Communications
        %p.text.text-center
          Let us know if you have any questions!
          %br
          Come by the info desk table, or message
          = link_to '#infodesk', 'https://brickhackv.slack.com/messages/DG7N1D0UX/', target: 'blank'
          on Slack.
      .info__box
        %h3.text.text-center Map
        .text.text-center
          = btn_link_to 'BrickHack Map', image_path("map.pdf"), target: 'blank'
          &nbsp;
          = btn_link_to 'RIT Map', 'https://maps.rit.edu', target: 'blank'
    .info__right
      .info__box
        %br
        %h3.text.text-center Hardware Lab
        %p.text.text-center
          MLH has provided a full lab of devices to check out during the weekend.
          %br
          Reserve your hardware online on MLH's hardware lab, then come by the hardware lab with a photo ID.
        .text.text-center
          = btn_link_to 'Hardware Lab', 'https://hardware.mlh.io', target: 'blank'

.section.schedule#schedule
  .schedule__wrapper
    %h2.text-center Schedule
    = render "schedule"

.section.schedule#challenges{style: 'max-width: 690px'}
  %h2.text-center Challenges
  %p.text.text-center There are a ton of categories to compete in! View on Devpost for the complete list.
  %p.text.text-center
    Several companies are sponsoring their own category as well.
    %br
    If you're interested, stop by their table!
  %p.text.text-center
    %strong Please submit your final project to Devpost
    by the submission deadline on Sunday morning. Judging will take place Sunday afternoon, and all teams must be present to be considered.
  %br
  .text-center
    = btn_link_to 'Open Devpost &raquo;'.html_safe, 'https://brickhackv.devpost.com'


.section.footer-break

.section.footer
  .footer__rit
    = link_to 'https://rit.edu' do
      = image_tag 'rit.svg', class: 'footer__rit-logo'
    %p
      1 Lomb Memorial Drive
      %br
      Rochester, NY 14623
  .footer__about
    %p
      Student run by
      = link_to 'https://codeRIT.org' do
        = image_tag 'coderit_logo.png', class: 'footer__coderit-logo'
    %p
      Find us on
      = link_to 'GitHub', 'https://github.com/codeRIT/brickhack.io'
  .footer__contact
    %p= link_to 'Twitter', 'https://twitter.com/brickhackrit'
    %p= link_to 'Facebook', 'https://www.facebook.com/brickhackrit'
    %p= link_to 'Email', 'mailto:hello@brickhack.io'
    %p= link_to 'Privacy Policy', image_path("Privacy_Policy.pdf")

/ Start of HubSpot Embed Code
%script#hs-script-loader{ async: "", defer: "defer", src: "//js.hs-scripts.com/2104052.js", type: "text/javascript" }
/ End of HubSpot Embed Code
