<% content_for(:head) do %>
  <%= stylesheet_link_tag 'live.css' %>
  <meta http-equiv="refresh" content="<%= 2.minutes %>" />
<% end %>

<%= render "layouts/hackathon_manager/flashes" %>
<%= render "layouts/nav_live" %>

<div class="section" id="announcements">
  <h2 class="text-center">Announcements</h2>
  <br/>
  <div class="announce__column__container">
    <div class="announce__left">
      <div id="twitter__container">
        <a class="twitter-timeline" data-height="600" data-width="100%" href="https://twitter.com/brickhackrit?ref_src=twsrc%5Etfw">Tweets by brickhackrit</a>
        <script charset="utf-8" src="https://platform.twitter.com/widgets.js"></script>
      </div>
    </div>
    <div class="announce__right">
      <%= render "slack_announcements" %>
    </div>
  </div>
</div>

<% if Time.now > Time.zone.parse('2019-02-16 12:00pm') %>
  <div class="section" id="timer">
    <div class="timer__section">
      <div class="timer__column__container">
        <div class="timer__container">
          <p class="text-center" id="timer_submission"></p>
          <p class="text-center" id="submission_text">UNTIL SUBMISSIONS DUE</p>
        </div>
        <div class="timer__container">
          <p class="text-center" id="timer_hack"></p>
          <p class="text-center" id="submission_text">UNTIL HACKING IS DONE</p>
          <script>

            var submissionEnds = "Feb 17 2019 09:30:00";
            var timerFunc = setInterval(function() {
              var countDownDate = new Date(submissionEnds).getTime();
              var now = new Date().getTime();
              var untilDate = countDownDate - now;
              var hours = Math.floor((untilDate/(1000*3600))%3600);
              //var hours = Math.floor((untilDate%(1000*60*60*24))/(1000*60*60));
              var minutes = Math.floor((untilDate % (1000*60*60))/(1000*60));
              var seconds = Math.floor((untilDate % (1000*60))/1000);
              document.getElementById("timer_submission").innerHTML = hours + "h "+minutes+"m "+seconds+"s ";
              if(untilDate < 0){
                clearInterval(timerFunc);
                document.getElementById("timer_submission").innerHTML = "00h 00m 00s";
              }
            }, 1000);
            var hackEnds = "Feb 17 2019 12:30:00";
            var timerFuncHack = setInterval(function() {
              var countDownDateHack = new Date(hackEnds).getTime();
              var now = new Date().getTime();
              var untilDateHack = countDownDateHack - now;
              var hoursHack = Math.floor((untilDateHack/(1000*3600))%3600);
              //var hoursHack = Math.floor((untilDateHack%(1000*60*60*24))/(1000*60*60));
              var minutesHack = Math.floor((untilDateHack % (1000*60*60))/(1000*60));
              var secondsHack = Math.floor((untilDateHack % (1000*60))/1000);
              document.getElementById("timer_hack").innerHTML = hoursHack + "h "+minutesHack+"m "+secondsHack+"s ";
              if(untilDateHack < 0){
                clearInterval(timerFuncHack);
                document.getElementById("timer_hack").innerHTML = "00h 00m 00s";
              }
            }, 1000);

          </script>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
<% end %>

<div class="section" id="info">
  <h2 class="text-center">Important Information</h2>
  <div class="info__container">
    <div class="info__left">
      <div class="info__box">
        <h3 class="text text-center">Communications</h3>
        <p class="text text-center">
          Let us know if you have any questions!
          <br/>
          Come by the info desk table, or message
          <%= link_to '#infodesk', 'https://brickhackv.slack.com/messages/CG82U7GPQ/', target: 'blank' %>
          on Slack.
        </p>
      </div>
      <div class="info__box">
        <h3 class="text text-center">Map</h3>
        <div class="text text-center">
          <%= btn_link_to 'BrickHack Map', image_path("map.pdf"), target: 'blank' %>
          &nbsp;
          <%= btn_link_to 'RIT Map', 'https://maps.rit.edu', target: 'blank' %>
        </div>
      </div>
    </div>
    <div class="info__right">
      <div class="info__box">
        <br/>
        <h3 class="text text-center">Hardware Lab</h3>
        <p class="text text-center">
          MLH has provided a full lab of devices to check out during the weekend.
          <br/>
          Reserve your hardware online on MLH's hardware lab, then come by the hardware lab with a photo ID.
        </p>
        <div class="text text-center">
          <%= btn_link_to 'Hardware Lab', 'https://hardware.mlh.io/events/brickhack-v', target: 'blank' %>
        </div>
        <br/>
        <h3 class="text text-center">Internet</h3>
        <p class="text text-center">
          WiFi & Ethernet is available throughout the venue!
          <br/>
          USB and USB-C to Ethernet adapters are available from the info desk.
          <br/>
          WiFi: BrickHack
          <br/>
          <em>Do not use RIT or eduroam networks</em>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section schedule" id="schedule">
  <div class="schedule__wrapper">
    <h2 class="text-center">Schedule</h2>
    <%= render "schedule" %>
  </div>
</div>
<div class="section schedule" id="challenges" style="max-width: 690px">
  <h2 class="text-center">Challenges</h2>
  <p class="text text-center">There are a ton of categories to compete in! View on Devpost for the complete list.</p>
  <p class="text text-center">
    Several companies are sponsoring their own category as well.
    <br/>
    If you're interested, stop by their table!
  </p>
  <p class="text text-center">
    <strong>Please submit your final project to Devpost</strong>
    by the submission deadline on Sunday morning. Judging will take place Sunday afternoon, and all teams must be present to be considered.
  </p>
  <p class="text text-center">
    You will
    <strong>not</strong>
    be judged based on your Devpost submission profile. However, you must select the appropriate categories you are competing in.
  </p>
  <br/>
  <div class="text-center">
    <%= btn_link_to 'Open Devpost &raquo;'.html_safe, 'https://brickhackv.devpost.com' %>
  </div>
</div>
<div class="section footer-break"></div>
<div class="section footer">
  <div class="footer__rit">
    <%= link_to 'https://rit.edu' do %>
      <%= image_tag 'rit.svg', class: 'footer__rit-logo' %>
    <% end %>
    <p>
      1 Lomb Memorial Drive
      <br/>
      Rochester, NY 14623
    </p>
  </div>
  <div class="footer__about">
    <p>
      Student run by
      <%= link_to 'https://codeRIT.org' do %>
        <%= image_tag 'coderit_logo.png', class: 'footer__coderit-logo' %>
      <% end %>
    </p>
    <p>
      Find us on
      <%= link_to 'GitHub', 'https://github.com/codeRIT/brickhack.io' %>
    </p>
  </div>
  <div class="footer__contact">
    <p>
      <%= link_to 'Twitter', 'https://twitter.com/brickhackrit' %>
    </p>
    <p>
      <%= link_to 'Facebook', 'https://www.facebook.com/brickhackrit' %>
    </p>
    <p>
      <%= link_to 'Email', 'mailto:hello@brickhack.io' %>
    </p>
    <p>
      <%= link_to 'Privacy Policy', image_path("Privacy_Policy.pdf") %>
    </p>
  </div>
</div>
<!-- Start of HubSpot Embed Code -->
<script defer="defer" id="hs-script-loader" src="//js.hs-scripts.com/2104052.js" type="text/javascript"></script>
<!-- End of HubSpot Embed Code -->

