= simple_form_for @message, url: url_for(action: @message.new_record? ? "create" : "update", controller: "messages") do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :subject, hint: "All emails are from \"BrickHack\""
    = f.input :template, as: :select, collection: Message::POSSIBLE_TEMPLATES.map { |x| [x.titleize, x] }, include_blank: false
    = f.input :recipients, as: :select, collection: Message::POSSIBLE_RECIPIENTS.invert, input_html: { class: "selectize", multiple: true }
    = f.input :body, input_html: { rows: 10 }
    %p
      %small
        %em Markdown and HTML supported. codeRIT & BrickHack info will be appended to the email body.

  .form-actions
    = f.button :submit
