- title "Application"
%div{class:'form-success'}
  %div{class:'success_message'}
    %p#notice= notice
    - if @questionnaire.can_rsvp?
      - if @questionnaire.did_rsvp?
        %p
          Below is a copy of your information for BrickHack.
          = link_to "Back to RSVP page &raquo;".html_safe, rsvp_path
      - else
        %p
          You have not RSVP'd yet!
          %br
          %br
          = link_to "RSVP NOW &raquo;".html_safe, rsvp_path
    - else
      - if Rails.configuration.hackathon['registration_is_open']
        %p Thanks for applying! You will be notified of your acceptance via email.
      - else
        %p Thanks for applying!

  %div{class:'participant_info'}
    %p Below is a copy of your application.

    = render partial: 'questionnaire_summary'

    %p
      = btn_link_to '<span class="fa fa-pencil icon-space-r"></span> Edit Application'.html_safe, edit_questionnaires_path
    %p
      Unhappy? #{link_to "Revoke my application", user_registration_path, data: { confirm: "Are you sure? Your account and application will be permanently erased." }, method: :delete}
