- title "Application"
%div{class:'form-success'}
  %div{class:'success_message'}
    %p#notice= notice
    - if @questionnaire.can_rsvp?
      - if @questionnaire.did_rsvp?
        %p
          Below is a copy of your information for BrickHack.
          = link_to "Back to RSVP page &raquo;".html_safe, rsvp_path
      - else
        %p
          You have not RSVP'd yet!
          %br
          %br
          = link_to "RSVP NOW &raquo;".html_safe, rsvp_path
    - else
      - if REGISTRATION_IS_OPEN
        %p Thanks for applying! You will be notified of your acceptance via email.
      - else
        %p Thanks for applying!

  %div{class:'participant_info'}
    %p Below is a copy of your application.

    %p
      %b Experience:
      = Questionnaire::POSSIBLE_EXPERIENCES[@questionnaire.experience]
    %p
      %b Portfolio link:
      = @questionnaire.portfolio_url? ? link_to(@questionnaire.portfolio_url, @questionnaire.portfolio_url, target: '_blank') : 'Not provided'
    %p
      %b GitHub/BitBucket link:
      = @questionnaire.vcs_url? ? link_to(@questionnaire.vcs_url, @questionnaire.vcs_url, target: '_blank') : 'Not provided'
    %p
      %b Resume:
      = @questionnaire.resume? ? link_to("Download &raquo;".html_safe, @questionnaire.resume.url) : 'Not provided'
    %p
      %b I am traveling from:
      = @questionnaire.travel_not_from_school ? "Somewhere else:" : "My school (#{@questionnaire.school.full_name})"
    - if @questionnaire.travel_not_from_school
      %p
        %b Traveling from:
        = @questionnaire.travel_location

    %fieldset
      %legend Provided by My MLH
      %p
        %b First name:
        = @questionnaire.first_name
      %p
        %b Last name:
        = @questionnaire.last_name
      %p
        %b Email:
        = @questionnaire.email
      %p
        %b Phone:
        = @questionnaire.phone
      %p
        %b Date of birth:
        = @questionnaire.date_of_birth_formatted
      %p
        %b Gender:
        = @questionnaire.gender
      %p
        %b School:
        = @questionnaire.school.full_name
      %p
        %b Major:
        = @questionnaire.major
      %p
        %b Level of study:
        = @questionnaire.level_of_study
      %p
        %b Shirt size:
        = @questionnaire.shirt_size
      %p
        %b Dietary restrictions
        = @questionnaire.dietary_restrictions || "<i>(none)</i>".html_safe
      %p
        %b Special needs
        = @questionnaire.special_needs || "<i>(none)</i>".html_safe

    %p
      = btn_link_to '<span class="fa fa-pencil icon-space-r"></span> Edit Application'.html_safe, edit_questionnaires_path
    %p
      Unhappy? #{link_to "Revoke my application", user_registration_path, data: { confirm: "Are you sure? Your account and application will be permanently erased." }, method: :delete}
