%div{class:'form-container login'}
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inputs
      = f.input :email, required: false
      = f.input :password, required: false
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .form-actions{class:'center'}
      = f.button :submit, "Log in"
    .center
      = render "devise/shared/links"
