%fieldset
  %legend Bus Captians
  - if bus_list.captains.empty?
    %p
      %em TBD
  - bus_list.captains.each do |p|
    %p
      %strong= p.full_name
      %br
      %em= p.school.name
      %br
      Phone:
      = p.phone
      %br
      Email:
      = p.email

%fieldset
  %legend Bus Notes
  = bus_list.notes.present? ? markdown(bus_list.notes.html_safe) : "<p>(none)</p>".html_safe
