<%
  simplified_nav = false if !defined?(simplified_nav)
  if simplified_nav
    pages = ['Home']
  else
    pages = ['About', 'Travel', 'FAQ', 'Sponsors', 'Gallery']
  end
%>

<nav class="nav">
  <div class="nav__content">
    <div class="nav__links">
      <% pages.each do |page| %>
        <% if simplified_nav %>
          <a class="nav__link" href="/">
            <%= page %>
          </a>
        <% elsif page == 'Gallery' %>
          <a class="nav__link" href="/gallery/">
            <%= page %>
          </a>
        <% else %>
          <a class="nav__link" href="#<%= page.downcase %>">
            <%= page %>
          </a>
        <% end %>
      <% end %>
      <!-- %a.nav__link{ href: "https://brickhackv.devpost.com", target: 'blank' }= 'Prizes' -->
    </div>
  </div>
</nav>

<a href="https://mlh.io/seasons/na-2020/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2020-season&utm_content=gray" id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:30px;top:0;width:8%;z-index:10000" target="_blank">
  <img alt="Major League Hacking 2020 Hackathon Season" src="https://s3.amazonaws.com/logged-assets/trust-badge/2020/mlh-trust-badge-2020-gray.svg" style="width:100%"/>
</a>

<!-- mobile nav
  <nav class="mobile">
    <i class="fa fa-bars mob-nav-header" id="hamburger-menu"></i>
    <h2 class="mob-nav-header" style="font-size: 24px; text-align: left; color: white; padding:0; margin: 0; position: relative; top: -5px; font-weight: 300">BrickHack</h2>
    <div id="mobile-nav">
      <div class="nav-links">
        <a class="active" href="#">BrickHack</a>
        <% pages.each do |page| %>
          <a href="#<%= page.downcase %>">
            <%= page %>
          </a>
        <% end %>
        <%= link_to 'Sign Up', 'https://apply.brickhack.io', class: 'mobile' %>
      </div>
    </div>
  </nav>
-->
