<%
  simplified_nav = false if !defined?(simplified_nav)
  if simplified_nav
    pages = ['Home']
  else
    pages = ['About', 'Schedule', 'Travel', 'Gallery', 'FAQ', 'Sponsors', 'Live']
  end
  live_path = current_page?(:controller => 'pages', :action =>'live')
%>
<nav class="nav">
  <div class="nav__content">
    <a href="/">
      <%= image_tag 'bh-logos/brickhack-6.png', alt: 'BrickHack 6 Logo', class: 'nav__logo' %>
    </a>
    <div class="nav__links">
      <% pages.each do |page| %>
        <% if page == 'Live' %>
          <div id="live__button" style="display:none">
            <a class="nav__link" href="/live">
              <%= page %>
            </a>
          </div>
        <% elsif page == 'Schedule' %>
          <!--change display to 'block' when schedule is posted-->
          <div id="schedule__button" style="display:none">
            <a class="nav__link" href="#schedule">
              <%= page %>
            </a>
          </div>          
        <% elsif page == 'Gallery' %>
          <a class="nav__link" href="/gallery/">
            <%= page %>
          </a>
        <% else %>
          <a class="nav__link" href="#<%= page.downcase %>">
            <%= page %>
          </a>
        <% end %>
      <% end %>
    <% end %>
    <!-- %a.nav__link{ href: "https://brickhackv.devpost.com", target: 'blank' }= 'Prizes' -->
    <%= btn_link_to 'Live', '/live' %>
  </div>
</nav>

<a href="https://mlh.io/seasons/na-2020/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2020-season&utm_content=gray" id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:30px;top:0;width:8%;z-index:10000" target="_blank">
  <img alt="Major League Hacking 2020 Hackathon Season" src="https://s3.amazonaws.com/logged-assets/trust-badge/2020/mlh-trust-badge-2020-gray.svg" style="width:100%"/>
</a>

<script>
  var now = new Date();
  var start = new Date('Feb 07 2020 00:00');
  var end = new Date('Feb 10 2020 00:00');
  if (now >= start && now <= end){
    document.getElementById("live__button").style.display = "block";
  }
</script>
<!-- mobile nav
  <nav class="mobile">
    <i class="fa fa-bars mob-nav-header" id="hamburger-menu"></i>
    <h2 class="mob-nav-header" style="font-size: 24px; text-align: left; color: white; padding:0; margin: 0; position: relative; top: -5px; font-weight: 300">BrickHack</h2>
    <div id="mobile-nav">
      <div class="nav-links">
        <a class="active" href="#">BrickHack</a>
        <% pages.each do |page| %>
          <a href="#<%= page.downcase %>">
            <%= page %>
          </a>
        <% end %>
      </div>
    </div>
  </nav>
-->
