%div{class:"sidebar #{controller.controller_name}"}
  %span{id:'sidebar-toggle'}
    %i{class:'fa fa-navicon'}
  %div{class:'pusher'}
    %div{id:'logo-cta'}
      %a{href:"/"}
        = image_tag('brickhack_logo_v2.svg', :id=>"logo",:alt=>"BrickHack", :title=>"BrickHack")
    - if user_signed_in?
      %div
        - if current_user.admin?
          = btn_link_to "Manage", manage_root_path
        - else
          = btn_link_to "Review", new_questionnaire_path
      - if current_user.admin?
        %div
          = btn_link_to "My Account", edit_user_registration_path
      %div
        = btn_link_to "Sign Out", destroy_user_session_path, method: :delete
    - else
      %div
        = btn_link_to "Login", new_user_session_path
      %div
        = btn_link_to "Register", new_user_registration_path
    %nav
      %ul{class:'nav-list'}
        %li
          %a{href:"/#main", class:'nav-link active'}HOME
        %li
          %a{href:"/#faq", class:'nav-link'}FAQ
        %li
          %a{href:"/#schedule", class:'nav-link'}SCHEDULE
        %li
          %a{href:"/#sponsors", class:'nav-link'}SPONSORS
        %li
          %a{href:"/#contact", class:'nav-link'}CONTACT
      %div{class:'social-list'}
        -# TODO: uncomment after finishing Challenge Post article
        -#   %a{href:"#home", class:'sm-link'}
        -#     %span{class:'fa fa-code'}
        -#     Challenge Post
        %a{href:"https://www.facebook.com/brickhackrit", class:'sm-link', target: '_blank'}
          %span{class:'fa fa-facebook'}
        %a{href:"https://twitter.com/brickhackrit", class:'sm-link', target: '_blank'}
          %span{class:'fa fa-twitter'}
        %a{href:"http://instagram.com/brickhack", class:'sm-link', target: '_blank'}
          %span{class:'fa fa-instagram'}
  %footer{class:"footer"}
    Student run by
    %a{href:"http://coderit.org", class:"coderit-logo", target:'_blank'} CodeRIT
