%div{ class:"sidebar #{controller.controller_name}" }
  %span#sidebar-toggle
    %i.fa.fa-navicon
  .pusher
    #logo-cta
      %a{ href: "/" }
        = image_tag 'brickhack.png', id: "logo", alt: "BrickHack", title: "BrickHack"
    - if user_signed_in?
      %div
        - if current_user.admin?
          = btn_link_to "Manage", manage_root_path
        - else
          = btn_link_to "Review", new_questionnaires_path
    - else
      %div
        = btn_link_to "Login", new_user_session_path
      %div
        = btn_link_to "Register", new_user_registration_path
    %nav
      %ul.nav-list
        %li
          %a.nav-link{ href:"/#home" } HOME
        %li
          %a.nav-link{ href:"/#about" } ABOUT
        %li
          %a.nav-link{ href:"/#faq" } FAQ
        %li
          %a.nav-link{ href:"/#schedule" } SCHEDULE
        %li
          %a.nav-link{ href:"/#sponsors" } SPONSORS
      %div.social-list
        %a.sm-link{ href:"https://www.facebook.com/brickhackrit", target: '_blank' }
          %span.fa.fa-facebook
        %a.sm-link{ href:"https://twitter.com/brickhackrit", target: '_blank' }
          %span.fa.fa-twitter
    - if user_signed_in?
      %div
        = btn_link_to "Sign Out", destroy_user_session_path, method: :delete
  %footer.footer
    Student run by
    %a.coderit-logo{ href:"http://coderit.org", target:'_blank' } CodeRIT
