<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || "BrickHack 6 – Feb 8-9, 2020" %></title>
    <%= render "layouts/shared_head" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= render "layouts/shared_footer" %>
  </body>
</html>
