!!! 5
%html
  %head
    %title BrickHack 3 - Feb 11-12, 2017
    = render "layouts/shared_head"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body
    = yield
    = javascript_include_tag "application"
    = render "layouts/shared_footer"
