<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100,500');

  body {
    background: #394755;
    color: #384859;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
  }
  body *{
    font-family: 'Roboto', sans-serif;
  }

  html{
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 5px 0;
  }

  table {
    border: 0;
    padding: 0;
    width: 100%;
  }

  .coderit-logo {
    display: inline-block;
    width: 76px;
    vertical-align: bottom;
  }

  #content{
    max-width: 800px;
    width: 100%;
    margin: 56px auto;
    background: white;
  }

  #main-content{
    background: white;
    padding: 64px 48px;

  }

  .banner{
    width: 100%;
  }

  .email-footer{
    background: #5D5D5D;
    padding: 18px 0;
  }

  .email-footer td span{
    margin-right: 20px;
    color: white;
  }

  .email-footer td span a{
    color: white;
  }

  h1{
    font-weight: 200;
    text-transform: uppercase;
    font-size: 72px;
  }

  h2{
    font-weight: 200;
    font-size: 36px;
    text-transform: uppercase;
  }

  h3{
    font-weight: 200;
    font-size: 24px;
  }

  h4{
    font-weight: 200;
    font-size: 13px;
    text-transform: uppercase;
  }

  a.nodecor{
    text-decoration: none;
  }

  p{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    text-align: justify;
  }

  div.center{
    margin: 0 auto;
  }

  h1.center,h2.center,h3.center,h4.center,h5.center,h6.center,p.center{
    text-align: center;
  }

  .button{
    background: #22619D;
    display: inline-block;
    padding: 0.8em 2em;
    font-size: 15px;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    color: white;
    font-weight: 500;
    margin: 16px auto;
  }

</style>
<meta name="robots" content="noindex,nofollow">
</head>


<body>
  <div id="content">
    <!--head-->
    <%= image_tag 'email_test_header_image.png', class: 'banner' %>

    <!--content-->
    <div id="main-content">
      <%= yield %>
    </div>

    <!--footer-->
    <div class="email-footer">
      <table border="0" >
        <tr>
          <td>
            <span>
              <%= link_to 'BrickHack', 'https://brickhack.io' %>
            </span>
            <span>
              <%= link_to 'Facebook', 'https://www.facebook.com/brickhackrit' %>
            </span>
            <span>
              <%= link_to 'Twitter', 'https://twitter.com/brickhackrit' %>
            </span>
          </td>
          <td>
            <span>
              <%= link_to 'http://coderit.org', class: 'nodecor' do %>
                Student run by <img class="coderit-logo" src="https://brickhack.io/assets/coderit_logo.png" />
              <% end %>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>

</body>

</html>
